.footer {
	background-color: #808000;
	&__box {
		display: flex;
		justify-content: space-between;
		max-width: 1163px;
		padding: 70px 40px 0px 40px;
		a {
			color: #f1cdb3;
			font-family: serif;
			font-size: 20px;
			letter-spacing: 1.2px;
			display: inline-block;
			padding: 0px 0px 0px 20px;
			&:hover {
				color: #d48135;
			}
		} 
	}
	&__contact {
		flex: 0 0 38.7%;
	}
	&__title {
		color: #ffffff;
		font-family: 'Source Serif Pro', serif;
		font-size: 35px;
		line-height: 45px;
		letter-spacing: 2.1px;
	}
	&__link {
		margin: 35px 0px 0px 0px;
		&_first {
			margin: 35px 0px 55px 0px;
		}
	}
	&__1 {}
	&__2 {
		margin: -5px 0px 0px 0px;
	}
	&__geo {
		flex: 0 0 35.6%;
		margin: 0px -75px 0px 0px;
	}
	&__3 {}
	&__4 {
		margin: -7px 0px 0px 0px;
	}
	&__img {
		flex: 0 0 25.7%;
		img {
			max-width: 100%;
		}
	}
}
 
@media (max-width: 1100px) {
	.footer {
		&__title {
			display: none;
		}
		&__geo {
			display: inline;
			margin: 0px 0px 0px -20px;
		}
	}
}

@media (max-width: 950px) {
		.footer {
		&__box {
			padding: 0px 0px 40px 0px;
		}
		&__contact {
			flex: 0 0 50%;
		}
		&__geo {
			flex: 0 0 50%;
		}
		&__img {
			display: none;
		}
	}
} 

@media (max-width: 640px) {
	.footer {
		&__box {
			flex-direction: column;
			align-items: center;
			padding: 0px 0px 40px 7px;
		}
		&__contact {
			order: 2;
		}
		&__3 {
			margin: 0px -7px 0px 0px;
		}
	}		
}