.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.9);
	visibility: hidden;
	overflow: auto;
	z-index: 4;
	&__box {
		padding: 40px 20px;
		max-width: 300px;
		background: #231f20;
		position: relative;
		border-radius: 15px;
	}
	&__header {
		padding: 0px 0px 40px 0px;
		p {
			color: #f1cdb3;
			font-family: 'Source Serif Pro', serif;
			font-size: 35px;
			letter-spacing: 1.13px;
		}
		span {
			width: 25px;
			height: 20px;
			position: absolute;	
			top: 50px;
			right: 20px;
			cursor: pointer;
			&:hover {
				width: 30px;
			}
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background: #b7926e;
				transform: rotate(45deg);
			}
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background: #b7926e;
				transform: rotate(-45deg);
			}
		}
	}
	&__form {
		label {
			font-size: 30px;
			color: #877060;
			display: block;
		}
		input {
			margin: 20px 0px;
			height: 35px;
			width: 250px;
			font-size: 20px;
			box-shadow: 3px 3px 2px #664836;
			border-radius: 15px;
			&:focus {
				box-shadow: 2px 2px 10px #148185;
			}
		}
		button {
			padding: 10px 50px;
			background: #3b2f29;
			margin: 10px 0px 0px 0px;
			border-radius: 20px;
			display: block;
			font-size: 20px;
			box-shadow: 7px 7px 0px #12181f;
			position: relative;
			top: 0px;
			transition: 0.1s top ease 0s;
			&:hover {
				box-shadow: 5px 5px 1px #12181f;
				top: 2px;
				background: #8c6146;
			}	color: #fff;
		}
	}
}

.popupPets {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	overflow: auto;
	background: rgba(0,0,0,0.9);
	&__box {
		max-width: 800px;
		display: none;
		background: #fafafa;
		padding: 40px 20px 40px 20px;
		border-radius: 10px;
		position: relative;
		margin: 30px;
	}
	&__close {
		height: 30px;
		width: 30px;
		border-radius: 50%;
		position: absolute;
		top: -30px;
		right: -30px;
		background: #fafafa;
		&:hover {
			background: #4c4c4c;
			cursor: pointer;
		}
		&:before {
			content: '';
			width: 20px;
			height: 2px;
			background: #000;
			position: absolute;
			top: 14px;
			left: 5px;
			transform: rotate(45deg);
		}
		&:after {
			content: '';
			width: 20px;
			height: 2px;
			background: #000;
			position: absolute;
			top: 14px;
			left: 5px;
			transform: rotate(-45deg);
		}
	}
	&__img {
		flex: 0 0 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
		}
	}
	&__inf {}
	&__name {
		color: #545454;
		font-family: 'Source Serif Pro', serif;
		font-size: 35px;
		letter-spacing: 2.1px;
		margin: 0px 0px 20px 0px;
		span {
			font-size: 20px;
			letter-spacing: 1.2px;
		}
	}
	&__txt {
		color: #4c4c4c;
		font-family: sans-serif;
		font-size: 15px;
		line-height: 20px;
		margin: 0px 0px 20px 0px;
	}
	&__data {
		color: #545454;
		font-family: sans-serif;
		font-size: 15px;
		letter-spacing: 0.9px;
		li{
			margin: 0px 0px 10px 0px;
			&:before {
				content: "•";
				padding: 0px 5px 0px 0px;
				color: #f1cdb3;
			}
		}
		span {
			color: #6b6b6b;
			font-family: 'Source Serif Pro', serif;
			font-size: 17px;
			letter-spacing: 1.02px;
			font-weight: 600;
		}	
	}
}

@media (max-width: 700px) {
	.popupPets {
		align-items: flex-start;
		&__box {
			flex-direction: column;
		}
	}	
}