//Обнуление----------------------------------------------------------------------------
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

//Подключение шрифтов----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

//Подключение файлов-----------------------------------------------
@import "header.scss";
@import "footer.scss";
@import "popup.scss";


body {
}

.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1209px;
	margin: 0 auto;
	padding: 0px 20px;
}

.home {
	background-color: rgba(63,44,13,1);
	&__box {
		display: flex;
		justify-content: space-between;
	}
	&__left {
		margin: 360px 0px 270px 0px;
			
	}
	&__title {
		color: #ffffff;
		font-family:  'Source Serif Pro', serif;
		font-size: 44px;
		letter-spacing: 2.64px;
		line-height: 57px;
	}
	&__text {
		color: #cdcdcd;
		font-family: sans-serif;
		font-size: 15px;
		margin: 30px 0px 60px 0px;
		line-height: 24px;
	}
	&__friendship {
		color: #292929;
		font-family: 'Source Serif Pro', serif;
		font-size: 17px;
		letter-spacing: 1.02px;
		padding: 18px 45px;
		background: #f1cdb3;
		border-radius: 40px;
		&:hover {
			background: #241a19;
			color: #fff;
			cursor: pointer;
		}
	}
	&__right {
		margin: 0px -380px 0px 0px;
	}
}

@media (max-width: 1100px) {
	.home{
		&__box {
			flex-direction: column; 
			align-items: center;
		}
		&__left {
			margin: 200px 0px 0px 0px;
		}
		&__right {
			img {
				max-width: 100%;
			}
		}
	}	
}

.about {
	&__box {
		display: flex;
		padding: 90px 0px;
		max-width: 834px;
		margin: 0 auto;
	}
	&__img {
		flex: 0 0 50%;
		img {
			max-width: 100%;
		}
	}
	&__inf {
	}
	&__title {}
	&__text {
		p {
			color: #4c4c4c;
			font-family: sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			&:first-child {
				padding: 37px 0px;
			}
		}
	}
}

.title {
	color: #545454;
	font-family: 'Source Serif Pro', serif;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 2.1px;
}

@media (max-width: 768px) {
	.about__box {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
	}
	.about__img {
		margin: 0px 0px 50px 0px;
	}
}

.friends{
	background: #f6f6f6;
	padding: 78px 0px 68px 0px;
	&__box {
	}
	&__title {
		text-align: center;
	}
	&__butt {
			text-align: center;
		a {
			color: #292929;
			font-family: 'Source Serif Pro', serif;
			font-size: 17px;
			letter-spacing: 1.02px;
			padding: 15px 50px;
			border: 1px solid #f1cdb3;
			border-radius: 40px;
			&:hover {
				background: #f1cdb3;
			}
		}
	}
}

.friends--slider {
	position: relative;
	&__bttLeft{
		height: 50px;
		width: 50px;
		border: 1px solid #f1cdb3;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 0px;
		cursor: pointer;
		&:hover {
			background: #f1cdb3;
		}
		img {
			position: relative;
			top: 21px;
			left: 15px;
		}
	}
	&__bttRight{
		height: 50px;
		width: 50px;
		border: 1px solid #f1cdb3;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		right: 0px;
		cursor: pointer;
		&:hover {
			background: #f1cdb3;
		}
		img {
			position: relative;
			top: 21px;
			left: 15px;
		}
	}
	&__box {
		display: flex;
		max-width: 910px;
		overflow: hidden;
		margin: 0 auto;
		padding: 50px 0px 100px 0px;
}
	&__pet {
		position: relative;
		right: 0;
		top: 0;
		text-align: center;
		background: #fafafa;
		border-radius: 15px;
		margin: 0px 50px 0px 0px;
		transition: 1s all ease 0s;
		&:hover {
			top: -20px;
		}
	}
	&__img {
		width: 270px;
		height: 270px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
		}
	}
	&__name {
		margin: 30px 0px 20px 0px;
		color: #545454;
		font-family: 'Source Serif Pro', serif;
		font-size: 20px;
		letter-spacing: 1.2px;
	}
	&__butt {
		color: #292929;
		font-family: 'Source Serif Pro', serif;
		font-size: 17px;
		letter-spacing: 1.02px;
		padding: 15px 45px;
		border: 1px solid #f1cdb3;
		border-radius: 30px;
		display: inline-block;
		margin: 0px 0px 35px 0px;
		cursor: pointer;
		&:hover {
			background: #f1cdb3;
		}
	}
}

@media (max-width: 1200px) {
	.friends--slider {
		&__box {
			max-width: 620px;
		}
		&__bttRight{
		}	
	}
}

@media (max-width: 800px) {
	.friends--slider {
		&__box {
			max-width: 270px;
		}
		&__bttLeft {
		}
		&__bttRight{
		}
	}
}

@media (max-width: 480px) {
	.friends--slider {
		&__box {
			max-width: 270px;
			margin: 30px auto;
		}
		&__bttLeft {
			top: 500px;
		}
		&__bttRight{
			top: 500px;
		}
		&__pet {
			&:hover {
				top: 0px;
			}
		}
	}
}

.help {
	padding: 72px 0px 79px 0px;
	display: flex;
	align-items: center;
	background: #fafafa;
	&__title {
		text-align: center;
	}
	&__things {
		max-width: 1123px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px -100px 0px 0px;
	}
	&__item {
		width: 166px;
		height: 111px;
		margin: 80px 100px 0px 0px;
		text-align: center;
		box-sizing: content-box;
		&:hover {
			border-bottom: 3px solid #545454;
		}
		img {
			margin: 0px 0px 30px 0px;
		}
		p {
			color: #545454;
			font-family: 'Source Serif Pro', serif;
			font-size: 20px;
			letter-spacing: 1.2px;
		}
	}
}

 
.donation {
	background: #f6f6f6;
	&__box {
		display: flex;
		max-width: 925px;
		margin: 0px auto;
		padding: 70px 0px 85px 0px;
	}
	&__img {
		margin: 0px 50px 0px 0px;
		object-fit: contain;
		max-width: 100%;
	}
	&__inf {}
	&__title {}
	&__bank {
		p {
			color: #545454;
			font-family: 'Source Serif Pro', serif;
			font-size: 15px;
			letter-spacing: 0.9px;
			margin: 15px 0px 25px 0px;		
		}
		span {
			color: #292929;
			font-family: serif;
			font-size: 20px;
			letter-spacing: 1.2px;
			padding: 10px;
			background: #f1cdb3;
			border-radius: 9px;
			img {
				margin: 0px 15px 0px 0px;
			}
		}
	}
	&__txt {
		color: #b2b2b2;
		font-family: sans-serif;
		font-size: 12px;
		line-height: 22px;
		margin: 40px 0px 0px 0px;
	}
}

@media(max-width: 970px) {
	.donation {
		&__box {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&__img {
			margin: 0px 0px 70px 0px;
		}
		&__title {
			font-size: 25px;
		}
		&__bank {
			span {
				font-size: 15px;
			}
			img {
				position: relative;
				bottom: 4px;
			}
		}
		&__txt {
			margin: 25px 0px 0px 0px;
		}
	}
}

.bodyPets {
	background: #f6f6f6;
}

.pets {
	padding: 150px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		max-width: 1200px;
	}
	&__card {
		position: relative;
		right: 0;
		top: 0;
		text-align: center;
		background: #fafafa;
		border-radius: 15px;
		margin: 0px 15px 100px 15px;
		transition: 1s all ease 0s;
		&:hover {
			top: -20px;
		}
	}
	&__img {
		width: 270px;
		height: 270px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
		}
	}
	&__name {
		margin: 30px 0px 20px 0px;
		color: #545454;
		font-family: 'Source Serif Pro', serif;
		font-size: 20px;
		letter-spacing: 1.2px;
	}
	&__butt {
		color: #292929;
		font-family: 'Source Serif Pro', serif;
		font-size: 17px;
		letter-spacing: 1.02px;
		padding: 15px 45px;
		border: 1px solid #f1cdb3;
		border-radius: 30px;
		display: inline-block;
		margin: 0px 0px 35px 0px;
		cursor: pointer;
		&:hover {
			background: #f1cdb3;
		}
	}
}
