@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap");
.container {
  max-width: 1210px;
  padding: 0px 20px;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1222px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  overflow-x: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 100%;
}

.lock {
  overflow: hidden;
}

.slider {
  background: #f7f7f7;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.slider__item {
  height: 100vh;
}
.slider__item_first {
  background: url("../img/slide3.png") center/cover;
}
.slider__item_second {
  background: url("../img/slide3.png") center/cover;
}
.slider__item_third {
  background: url("../img/slide3.png") center/cover;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Стрелка */
.slider .slick-arrow {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 40px;
  height: 70px;
  font-size: 0;
}

/* Стрелка влево */
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/icon/leftArrow.png");
  margin: -35px 0px 0px 150px;
}

/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/icon/leftArrow.png");
  transform: scale(-1, 1);
  margin: -35px 150px 0px 0px;
}

/* Точки (булиты) */
.slider .slick-dots {
  position: absolute;
  z-index: 3;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -40px 0px 0px 7px;
  transform: translate(-50%, 0);
}

.slider .slick-dots li {
  margin: 0px 9px 0px 0px;
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* Активная точка */
.slider .slick-dots li.slick-active {
  background: transparent;
  border: 2px solid #d3c1ad;
  width: 15px;
  height: 15px;
}

/* Элемент точки */
.slider .slick-dots li button {
  font-size: 0;
}

.portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.portfolio h1 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 52px;
  font-weight: 800;
  margin: 0px 0px 19px 0px;
}
.portfolio h1 span {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 500;
  display: inline-block;
  margin: 0px 0px 14px 0px;
}
.portfolio__box {
  max-width: 589px;
  position: absolute;
  z-index: 3;
}
.portfolio__txt {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0px 0px 73px 0px;
}
.portfolio__get {
  padding: 21px 38px;
  background: #998675;
  box-shadow: 0px 8px 3px 0 #736357;
  border-radius: 3px;
  position: relative;
  top: 0px;
  transition: all 0.3s ease 0s;
}
.portfolio__get:hover {
  box-shadow: 0px 5px 3px 0 #736357;
  top: 3px;
}
.portfolio__get a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .slick-arrow {
    display: none;
  }
}
@media (max-width: 1100px) {
  .slick-arrow.slick-prev {
    margin: -35px 0px 0px 15px;
  }

  .slick-arrow.slick-next {
    margin: -35px 15px 0px 0px;
  }

  .slider .slick-dots {
    margin: -40px 0px 0px 5px;
  }
}
@media (max-width: 768px) {
  .portfolio h1 {
    font-size: 30px;
  }
  .portfolio h1 span {
    font-size: 20px;
  }
  .portfolio__box {
    max-width: 609px;
    padding: 40px 10px 0px 10px;
    z-index: 3;
  }
  .portfolio__txt {
    font-size: 14px;
    margin: 0px 0px 30px 0px;
  }
  .portfolio__get {
    padding: 15px 25px;
  }

  .slider .slick-dots {
    bottom: 5px;
  }
}
.work__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  flex-wrap: wrap;
}

.item {
  width: 270px;
  text-align: center;
  margin: 15px 10px 15px 10px;
}
.item:hover .item__image {
  background: #c7b299;
}
.item:hover .item__title {
  color: #c7b299;
}
.item:hover .item__line {
  background: #c7b299;
}
.item__image {
  margin: 0 auto;
  background: #555555;
}
.item__image_1 {
  -webkit-mask-image: url("../img/icon/work1.svg");
          mask-image: url("../img/icon/work1.svg");
  width: 49px;
  height: 49px;
}
.item__image_2 {
  -webkit-mask-image: url("../img/icon/work2.svg");
          mask-image: url("../img/icon/work2.svg");
  width: 44px;
  height: 40px;
}
.item__image_3 {
  -webkit-mask-image: url("../img/icon/work3.svg");
          mask-image: url("../img/icon/work3.svg");
  width: 44px;
  height: 44px;
}
.item__image_4 {
  -webkit-mask-image: url("../img/icon/work4.svg");
          mask-image: url("../img/icon/work4.svg");
  width: 52px;
  height: 36px;
}
.item__title {
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 30px 0px 24px 0px;
}
.item__txt {
  color: #8c8c8c;
  font-weight: 300;
  line-height: 24px;
  margin: 0px 0px 30px 0px;
}
.item__line {
  margin: auto;
  -webkit-mask-image: url("../img/icon/line.svg");
          mask-image: url("../img/icon/line.svg");
  background: #f1eee9;
  width: 70px;
  height: 3px;
}

.idea {
  background: #fbfaf8;
}
.idea__box {
  text-align: center;
  padding: 80px 0px 0px 0px;
}
.idea__txt {
  padding: 24px 0px 40px 0px;
  max-width: 757px;
  margin: auto;
}
.idea__image {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: auto;
}
.idea__image1 {
  background: url("../img/idea1.png") center/cover;
  padding: 0 65.8% 34.2% 0;
}
.idea__image2 {
  background: url("../img/idea2.png") center/cover;
  margin: 0px 0px 0px -600px;
  padding: 0 65.8% 41.2% 0;
  position: relative;
  z-index: 2;
}
.idea__image3 {
  background: url("../img/idea3.png") center/cover;
  padding: 0 65.8% 34.2% 0;
  margin: 0px 0px 0px -600px;
}

.title {
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}

.txt {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.wordpress {
  padding: 48px 0px;
  background-image: linear-gradient(to right, black, #020200, #050300, #070500, #090700, #0c0800, #0e0a01, #110b01, #130d01, #150f01, #181001, #1a1201);
}
.wordpress__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wordpress__left h2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  margin: 0px 0px 10px 0px;
}
.wordpress__left h2 span {
  color: #c7b299;
}
.wordpress__left p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}
.wordpress__right {
  padding: 20px 29px;
  background: #998675;
  box-shadow: 0px 8px 3px 0 #736357;
  border-radius: 3px;
  position: relative;
  top: 0px;
  transition: all 0.3s ease 0s;
}
.wordpress__right:hover {
  box-shadow: 0px 5px 3px 0 #736357;
  top: 3px;
}
.wordpress__right a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .wordpress__row {
    flex-direction: column;
  }
  .wordpress__left {
    margin: 0px 0px 40px 0px;
    text-align: center;
  }
  .wordpress__left h2 {
    font-size: 18px;
  }
  .wordpress__left p {
    font-size: 14px;
  }
  .wordpress__right {
    padding: 15px 20px;
  }
}
.projects__box {
  text-align: center;
  padding: 80px 0px;
}
.projects__txt {
  padding: 24px 0px 40px 0px;
  max-width: 757px;
  margin: auto;
}
.projects__tabs span {
  padding: 8px 20px;
  border: 1px solid #ebebeb;
  margin: 0px 5px 0px 5px;
  border-radius: 3px;
}
.projects__tabs span a {
  color: #8c8c8c;
  font-weight: 300;
  line-height: 21px;
}
.projects__btt {
  padding: 20px 29px;
  background: #998675;
  box-shadow: 0px 8px 3px 0 #736357;
  border-radius: 3px;
  position: relative;
  top: 0px;
  display: inline-block;
  margin: 45px 0px 0px 0px;
  transition: all 0.3s ease 0s;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
}
.projects__btt:hover {
  box-shadow: 0px 5px 3px 0 #736357;
  top: 3px;
  cursor: pointer;
}

.projects__items {
  margin: 35px 0px 0px 0px;
  overflow: hidden;
}
.projects__all {
  flex-wrap: wrap;
  display: flex;
}
.projects__web {
  flex-wrap: wrap;
  display: none;
}
.projects__app {
  flex-wrap: wrap;
  display: none;
}
.projects__illustr {
  flex-wrap: wrap;
  display: none;
}
.projects__photo {
  flex-wrap: wrap;
  display: none;
}

.items {
  flex: 0 0 33.333%;
  padding: 15px;
}
.items__hide {
  display: flex;
  width: 0%;
}
.items_1 .items__image {
  background: url("../img/tab1.png") center/cover;
}
.items_2 .items__image {
  background: url("../img/tab2.png") center/cover;
}
.items_3 .items__image {
  background: url("../img/tab3.png") center/cover;
}
.items_4 .items__image {
  background: url("../img/tabFour.png") center/cover;
  padding: 0 15px 15px 15px;
  padding: 54% 0 0 0;
}
.items_5 .items__image {
  background: url("../img/tab5.png") center/cover;
}
.items_6 .items__image {
  background: url("../img/tab6.png") center/cover;
}
.items_7 .items__image {
  background: url("../img/tab3.png") center/cover;
}
.items_8 .items__image {
  background: url("../img/tab1.png") center/cover;
}
.items__image {
  position: relative;
  padding: 54% 0 0 0;
}
.items__image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 19px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
}
.items__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.items__bg img {
  position: relative;
  top: 50%;
  margin: -13px 15px 0px 15px;
}
.items__inf {
  text-align: left;
  padding: 30px 0px 30px 30px;
  background: #fbfaf8;
}
.items__title {
  color: #c7b299;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}
.items__txt {
  color: #d1d1d1;
  font-weight: 300;
  line-height: 20px;
}

.itemsactive .items__image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 19px;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid #fbfaf8;
}
.itemsactive .items__bg {
  background: #505151;
  opacity: 0.5;
}
.itemsactive .items__inf {
  background: #362f2d;
}
.itemsactive .items__title {
  color: #d1d1d1;
}
.itemsactive .items__txt {
  color: #c7b299;
}

@media (max-width: 768px) {
  .items {
    flex: 0 0 50%;
  }

  .projects__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .projects__tabs span {
    margin: 10px 0px 10px 0px;
  }
}
@media (max-width: 500px) {
  .items {
    flex: 0 0 100%;
  }
}
.activetab {
  background: #998675;
}
.activetab a {
  color: #fff !important;
}

.video {
  background: url("../img/video.png") center/cover;
  padding: 34% 0 0 0;
  text-align: center;
  position: relative;
  min-height: 450px;
}
.video__box {
  max-width: 552px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video__title {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 44px 0px 29px 0px;
}
.video__txt {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 0px 0px 40px 0px;
}
.video__time {
  color: #c7b299;
  line-height: 24px;
}

@media (max-width: 1024px) {
  .video__box img {
    max-width: 50px;
  }
  .video__title {
    font-size: 20px;
    margin: 20px 0px 15px 0px;
  }
  .video__txt {
    font-size: 10px;
  }
  .video__time {
    margin: 5px 0px 0px 0px;
  }
}
.phone {
  background: #fbfaf8;
}
.phone__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0px 0px 0px;
}
.phone__inf {
  flex: 1 1 auto;
}
.phone__txt {
  margin: 40px 0px 45px 0px;
}
.phone__list li {
  margin: 0px 0px 10px 80px;
  position: relative;
}
.phone__list li:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(0%, -50%);
  background: url("../img/icon/phoneArrow.png");
  height: 21px;
  width: 21px;
}

@media (max-width: 1024px) {
  .phone__box {
    flex-direction: column;
  }
  .phone__foto {
    order: 2;
  }
  .phone__foto img {
    max-width: 100%;
  }
  .phone__inf {
    padding: 0px 10px 20px 10px;
  }
}
.pop {
  background-image: linear-gradient(to right, black, #020200, #050300, #070500, #090700, #0c0800, #0e0a01, #110b01, #130d01, #150f01, #181001, #1a1201);
}
.pop__box {
  padding: 69px 10px 69px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pop__item {
  text-align: center;
  width: 132px;
  margin: 25px 10px 25px 10px;
}
.pop__numb {
  color: #ffffff;
  font-size: 48px;
  line-height: 36px;
  margin: 30px 0px 20px 0px;
}
.pop__name {
  color: #c7b299;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
}
.pop__name:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50px;
}

.post {
  padding: 82px 0px 140px 0px;
}
.post_title {
  text-align: center;
}
.post__txt {
  text-align: center;
  padding: 30px 0px 40px 0px;
  max-width: 757px;
  margin: auto;
}
.post__item {
  border: 1px solid #f8f8f8;
  max-width: 370px;
}

.posts__image {
  position: relative;
}
.posts__image_1 {
  background: url("../img/post1.png") center/cover;
  padding: 0px 0px 53% 0px;
}
.posts__image_2 {
  background: url("../img/post2.png") center/cover;
  padding: 0px 0px 53% 0px;
}
.posts__image_3 {
  background: url("../img/post3.png") center/cover;
  padding: 0px 0px 53% 0px;
}
.posts__image_4 {
  background: url("../img/post2.png") center/cover;
  padding: 0px 0px 53% 0px;
}
.posts__bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.posts__bg p {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  text-align: center;
}
.posts__bg p span {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  display: block;
  padding: 9px 10px;
  background: #363636;
  border-radius: 3px 3px 0 0;
}
.posts__bg p span:last-child {
  font-size: 12px;
  padding: 7px 13px;
  background: #252525;
  border-radius: 0 0 3px 3px;
}
.posts__inf {
  padding: 30px 0px 30px 30px;
}
.posts__title {
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.posts__txt {
  color: #8c8c8c;
  font-weight: 300;
  line-height: 22px;
  margin: 20px 0px 27px 0px;
}
.posts__more a {
  color: #c7b299;
  font-weight: 300;
  line-height: 20px;
  position: relative;
  display: inline-block;
}
.posts__more a:after {
  content: "";
  position: absolute;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #c7b299;
  top: 7px;
  right: -10px;
}

/* Слайдер запущен */
.slick-slider.slick-initialized {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.post__slider .slick-track {
  display: flex;
  justify-content: space-between;
  flex: 0 0 33.333%;
}

.post__slider .slick-arrow {
  position: absolute;
  bottom: -50px;
}

/* Стрелка влево */
.post__slider .slick-arrow.slick-prev {
  -webkit-mask-image: url("../img/icon/leftslider.svg");
          mask-image: url("../img/icon/leftslider.svg");
  height: 22px;
  width: 22px;
  background: #362f2d;
  right: 50%;
  transform: translate(-50%, 0);
  opacity: 0.5;
}
.post__slider .slick-arrow.slick-prev:hover {
  opacity: 1;
}

/* Стрелка вправо */
.post__slider .slick-arrow.slick-next {
  -webkit-mask-image: url("../img/icon/rightslider.svg");
          mask-image: url("../img/icon/rightslider.svg");
  background: #362f2d;
  height: 22px;
  width: 22px;
  left: 50%;
  transform: translate(50%, 0);
  opacity: 0.5;
}
.post__slider .slick-arrow.slick-next:hover {
  opacity: 1;
}

/* Стрелка не активная */
/* Точки (булиты) */
.post__slider .slick-dots {
  position: absolute;
  display: flex;
  align-items: center;
  top: 43%;
  left: 100px;
  transform: translate(50%, 0);
}

.post__slider .slick-dots li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #94acb4;
  margin: 0px 9px 0px 0px;
  cursor: pointer;
}

/* Активная точка */
.post__slider .slick-dots li.slick-active {
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  background: transparent;
}

/* Элемент точки */
.post__slider .slick-dots li button {
  font-size: 0;
}

.postactive .posts__bg {
  background: #1d1d1d;
  opacity: 0.8;
}
.postactive .posts__bg p {
  opacity: 1;
}
.postactive .posts__bg p span {
  opacity: 1;
  background: #c7b299;
}
.postactive .posts__bg p span:last-child {
  background: #a48d72;
}
.postactive .posts__inf {
  background: #362f2d;
}
.postactive .posts__title {
  color: #c7b299;
}
.postactive .posts__txt {
  color: #ffffff;
}

@media (max-width: 1225px) {
  .post__slider .slick-track {
    justify-content: space-around;
  }

  .post__slider .slick-dots {
    left: 140px;
    transform: translate(50%, 0);
  }
}
@media (max-width: 1000px) {
  .post__slider .slick-dots {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 370px) {
  .post__slider .slick-dots {
    top: 37%;
  }
}
.logo {
  background: url("../img/back.png") center/cover;
}
.logo__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 140px 0px;
}
.logo__box img {
  display: inline-block;
  margin: 20px;
}

@media (max-width: 1225px) {
  .logo__box {
    padding: 100px 0px;
  }
  .logo__box img {
    max-width: 150px;
  }
}
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 0px 0px;
}
.header__logo {
  flex: 1 0 auto;
}
.header__menu {
  flex: 1 0 auto;
}
.header__icons {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.header__icons a img {
  margin: 0px 28px 0px 0px;
}

.search:hover .search__inp {
  width: 80px;
}
.search__form {
  display: flex;
  align-items: center;
}
.search__form:hover {
  padding: 5px 5px 5px 15px;
  background: #c7b299;
  border-radius: 30px;
}
.search__inp {
  width: 0;
  transition: all 1s ease 0s;
  background: transparent;
}
.search__inp::placeholder {
  color: #fff;
}
.search__btt {
  background: transparent;
}

.menu {
  margin: 0px -140px 0px 0px;
}
.menu__list {
  display: flex;
}
.menu__item {
  margin: 0px 0px 0px 27px;
}
.menu__item a {
  color: #ffffff;
  font-weight: 300;
}
.menu__item a:hover {
  color: #c7b299;
}

@media (max-width: 1222px) {
  .header__box {
    position: relative;
  }
  .header__logo {
    z-index: 2;
  }
  .header__burger {
    width: 40px;
    height: 30px;
    z-index: 2;
    position: fixed;
    top: 55px;
    right: 20px;
  }
  .header__burger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: all 1s ease 0s;
  }
  .header__burger:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: all 1s ease 0s;
  }
  .header__burger span {
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -2000px;
    background: #1c2028;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    transition: all 1s ease 0s;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__item {
    margin: 0px 0px 30px 60px;
  }
  .menu__item:first-child {
    margin: 120px 0px 30px 60px;
  }
  .menu__item a {
    font-size: 35px;
  }
  .menu__item:before {
    content: ".";
    font-size: 30px;
    color: #fff;
    position: relative;
    bottom: 11px;
  }

  .search {
    margin: 0px 75px 0px 0px;
  }
}
@media (max-width: 470px) {
  .header__box {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__icons {
    margin: 30px 0px 0px 10px;
  }
}
.activemenu {
  top: 0;
}

.activeburger:before {
  transform: rotate(-45deg);
  top: 13px;
}
.activeburger:after {
  transform: rotate(45deg);
  bottom: 13px;
}
.activeburger span {
  display: none;
}

.footer hr {
  background-color: #252525;
  height: 1px;
  margin: 20px 0px;
}
.footer__txt {
  color: #555555;
  font-weight: 300;
  line-height: 24px;
  margin: 5px 0px 0px 0px;
}
.footer__txt:hover {
  color: #c7b299;
}
.footer__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}
.footer__time {
  color: #363636;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}
.footer__time:hover {
  color: #ffffff;
}
.footer__top {
  background: #191919;
}
.footer__top a {
  color: #00bff3;
}
.footer__top span {
  color: #959595;
}
.footer__box {
  display: flex;
  padding: 80px 0px;
}
.footer__columnLef {
  flex: 0 0 50%;
  display: flex;
}
.footer__columnRigh {
  flex: 0 0 50%;
  display: flex;
}
.footer__col1 {
  flex: 0 0 50%;
  max-width: 271px;
  margin: 0px 5px;
}
.footer__col1 p {
  margin: 30px 0px;
}
.footer__col1 a {
  color: #d1d1d1;
  line-height: 20px;
  position: relative;
}
.footer__col1 a:after {
  content: "";
  position: absolute;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #d1d1d1;
  right: -15px;
  top: 7px;
}
.footer__col2 {
  flex: 0 0 50%;
  max-width: 271px;
  margin: 0px 5px;
}
.footer__col3 {
  flex: 0 0 50%;
  max-width: 271px;
  margin: 0px 5px;
}
.footer__col4 {
  flex: 0 0 50%;
  max-width: 291px;
  text-align: center;
  margin: 0px 5px;
}
.footer__col4 img {
  display: inline-block;
  margin: 5px;
}
.footer__col4 p {
  text-align: left;
}
.footer__bott {
  background: #111111;
  padding: 45px 0px 52px 0px;
}
.footer__boxbott {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  justify-content: space-between;
}
.footer__left p {
  color: #555555;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin: 0px 10px;
  position: relative;
}
.footer__left p:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 1px;
  background: #252525;
  right: -10px;
  top: 4px;
}
.footer__left p span {
  color: #959595;
}
.footer__left p:nth-child(3) {
  color: #c7b299;
}
.footer__left p:nth-child(4):after {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
}
.footer__right {
  display: flex;
  justify-content: space-between;
}
.footer__right p {
  color: #555555;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin: 0px 10px;
}
.footer__right p:first-child {
  position: relative;
}
.footer__right p:first-child:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 1px;
  background: #252525;
  right: -10px;
  top: 4px;
}
.footer__right p span {
  color: #959595;
}

@media (max-width: 1220px) {
  .footer__box {
    display: block;
  }
  .footer__columnLef {
    justify-content: space-around;
    margin: 0px 0px 50px 0px;
  }
  .footer__columnRigh {
    justify-content: space-around;
  }
  .footer__boxbott {
    flex-direction: column;
    align-items: center;
  }
  .footer__left {
    margin: 0 auto;
    padding: 0px 0px 15px 0px;
  }
  .footer__left__right {
    margin: 0 auto;
  }
}
@media (max-width: 1220px) and (max-width: 650px) {
  .footer__columnLef {
    display: block;
  }
  .footer__columnRigh {
    display: block;
  }
  .footer__col1 {
    margin: 20px auto;
  }
  .footer__col2 {
    margin: 20px auto;
  }
  .footer__col3 {
    margin: 20px auto;
  }
  .footer__col4 {
    margin: 30px auto;
  }
}
@media (max-width: 1220px) and (max-width: 500px) {
  .footer__boxbott {
    text-align: center;
  }
  .footer__left {
    display: block;
  }
  .footer__left p {
    position: relative;
    margin: 0px 0px 10px 0px;
  }
  .footer__left p:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #252525;
    left: 0;
    top: 23px;
  }
  .footer__left p:nth-child(4):after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #252525;
    left: 0;
    top: 23px;
  }
  .footer__right {
    display: block;
    position: relative;
  }
  .footer__right p:first-child {
    position: relative;
    margin: -10px 0px 10px 0px;
  }
  .footer__right p:first-child:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 97%;
    background: #252525;
    left: 3px;
    top: 23px;
  }
}