@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  .header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px; }
  .header__name span {
    display: block;
    position: relative;
    z-index: 3; }
    .header__name span:first-child a {
      font-family: 'Source Serif Pro', serif;
      color: #f1cdb3;
      font-size: 32px;
      letter-spacing: 1.13px; }
    .header__name span:last-child {
      color: #cdcdcd;
      font-family: sans-serif;
      font-size: 13px;
      letter-spacing: 1.3px;
      margin: 8px 0px 0px 0px; }
  .header__list {
    display: flex; }
  .header__link {
    margin: 0px 40px 0px 0px; }
    .header__link:last-child {
      margin: 0px; }
    .header__link a {
      color: #cdcdcd;
      font-family: sans-serif;
      font-size: 15px;
      position: relative; }
      .header__link a:hover {
        color: #b09582; }
        .header__link a:hover:after {
          content: "";
          position: absolute;
          top: 25px;
          left: 0;
          width: 100%;
          height: 3px;
          border-radius: 2px;
          background-color: #f1cdb3; }

@media (max-width: 768px) {
  .header__burger {
    position: relative;
    width: 35px;
    height: 25px; }
    .header__burger:before {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      background: #252121;
      transition: 1s all ease 0s; }
    .header__burger:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 3px;
      width: 100%;
      background: #252121;
      transition: 1s all ease 0s; }
    .header__burger span {
      display: block;
      position: absolute;
      top: 11px;
      height: 3px;
      width: 100%;
      background: #252121; }
  .header__menu {
    position: fixed;
    top: 0;
    left: -1000px;
    width: 50%;
    height: 100%;
    background: #624433;
    overflow: auto;
    transition: 1s all ease 0s;
    border-right: 5px solid #252121; }
  .header__list {
    flex-direction: column;
    align-items: center;
    margin: 200px 0px 0px 0px; }
  .header__link {
    margin: 0px 0px 50px 0px; }
    .header__link:last-child {
      margin: 0px 0px 0px 0px; }
    .header__link a {
      font-size: 25px; }
  .header__name span:last-child {
    display: none; } }

@media (max-width: 500px) {
  .header__link {
    margin: 0px 0px 50px 0px; }
    .header__link:last-child {
      margin: 0px 0px 0px 0px; }
    .header__link a {
      font-size: 17px; }
  .header__name span a {
    font-size: 22px !important; }
  .header__name span:last-child {
    display: none; } }

.header__menu.active {
  left: 0px; }

.header__burger.burger:before {
  transform: rotate(-45deg);
  top: 11px; }

.header__burger.burger:after {
  transform: rotate(45deg);
  bottom: 11px; }

.header__burger.burger span {
  display: none; }

body.lock {
  overflow: hidden; }

.footer {
  background: url("../img/Backround2.png") center/cover; }
  .footer__box {
    display: flex;
    justify-content: space-between;
    max-width: 1163px;
    padding: 70px 40px 0px 40px; }
    .footer__box a {
      color: #f1cdb3;
      font-family: serif;
      font-size: 20px;
      letter-spacing: 1.2px;
      display: inline-block;
      padding: 0px 0px 0px 20px; }
      .footer__box a:hover {
        color: #d48135; }
  .footer__contact {
    flex: 0 0 38.7%; }
  .footer__title {
    color: #ffffff;
    font-family: 'Source Serif Pro', serif;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2.1px; }
  .footer__link {
    margin: 35px 0px 0px 0px; }
    .footer__link_first {
      margin: 35px 0px 55px 0px; }
  .footer__2 {
    margin: -5px 0px 0px 0px; }
  .footer__geo {
    flex: 0 0 35.6%;
    margin: 0px -75px 0px 0px; }
  .footer__4 {
    margin: -7px 0px 0px 0px; }
  .footer__img {
    flex: 0 0 25.7%; }
    .footer__img img {
      max-width: 100%; }

@media (max-width: 1100px) {
  .footer__title {
    display: none; }
  .footer__geo {
    display: inline;
    margin: 0px 0px 0px -20px; } }

@media (max-width: 950px) {
  .footer__box {
    padding: 0px 0px 40px 0px; }
  .footer__contact {
    flex: 0 0 50%; }
  .footer__geo {
    flex: 0 0 50%; }
  .footer__img {
    display: none; } }

@media (max-width: 640px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 40px 7px; }
  .footer__contact {
    order: 2; }
  .footer__3 {
    margin: 0px -7px 0px 0px; } }

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  overflow: auto;
  z-index: 4; }
  .popup__box {
    padding: 40px 20px;
    max-width: 300px;
    background: #231f20;
    position: relative;
    border-radius: 15px; }
  .popup__header {
    padding: 0px 0px 40px 0px; }
    .popup__header p {
      color: #f1cdb3;
      font-family: 'Source Serif Pro', serif;
      font-size: 35px;
      letter-spacing: 1.13px; }
    .popup__header span {
      width: 25px;
      height: 20px;
      position: absolute;
      top: 50px;
      right: 20px;
      cursor: pointer; }
      .popup__header span:hover {
        width: 30px; }
      .popup__header span:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #b7926e;
        transform: rotate(45deg); }
      .popup__header span:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #b7926e;
        transform: rotate(-45deg); }
  .popup__form label {
    font-size: 30px;
    color: #877060;
    display: block; }
  .popup__form input {
    margin: 20px 0px;
    height: 35px;
    width: 250px;
    font-size: 20px;
    box-shadow: 3px 3px 2px #664836;
    border-radius: 15px; }
    .popup__form input:focus {
      box-shadow: 2px 2px 10px #148185; }
  .popup__form button {
    padding: 10px 50px;
    background: #3b2f29;
    margin: 10px 0px 0px 0px;
    border-radius: 20px;
    display: block;
    font-size: 20px;
    box-shadow: 7px 7px 0px #12181f;
    position: relative;
    top: 0px;
    transition: 0.1s top ease 0s;
    color: #fff; }
    .popup__form button:hover {
      box-shadow: 5px 5px 1px #12181f;
      top: 2px;
      background: #8c6146; }

.popupPets {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: auto;
  background: rgba(0, 0, 0, 0.9); }
  .popupPets__box {
    max-width: 800px;
    display: none;
    background: #fafafa;
    padding: 40px 20px 40px 20px;
    border-radius: 10px;
    position: relative;
    margin: 30px; }
  .popupPets__close {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: -30px;
    background: #fafafa; }
    .popupPets__close:hover {
      background: #4c4c4c;
      cursor: pointer; }
    .popupPets__close:before {
      content: '';
      width: 20px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 14px;
      left: 5px;
      transform: rotate(45deg); }
    .popupPets__close:after {
      content: '';
      width: 20px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 14px;
      left: 5px;
      transform: rotate(-45deg); }
  .popupPets__img {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .popupPets__img img {
      max-width: 100%; }
  .popupPets__name {
    color: #545454;
    font-family: 'Source Serif Pro', serif;
    font-size: 35px;
    letter-spacing: 2.1px;
    margin: 0px 0px 20px 0px; }
    .popupPets__name span {
      font-size: 20px;
      letter-spacing: 1.2px; }
  .popupPets__txt {
    color: #4c4c4c;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin: 0px 0px 20px 0px; }
  .popupPets__data {
    color: #545454;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 0.9px; }
    .popupPets__data li {
      margin: 0px 0px 10px 0px; }
      .popupPets__data li:before {
        content: "•";
        padding: 0px 5px 0px 0px;
        color: #f1cdb3; }
    .popupPets__data span {
      color: #6b6b6b;
      font-family: 'Source Serif Pro', serif;
      font-size: 17px;
      letter-spacing: 1.02px;
      font-weight: 600; }

@media (max-width: 700px) {
  .popupPets {
    align-items: flex-start; }
    .popupPets__box {
      flex-direction: column; } }

.wrapper {
  width: 100%;
  overflow: hidden; }

.container {
  max-width: 1209px;
  margin: 0 auto;
  padding: 0px 20px; }

.home {
  background: url(../img/Background.png) 0 0/cover; }
  .home__box {
    display: flex;
    justify-content: space-between; }
  .home__left {
    margin: 360px 0px 270px 0px; }
  .home__title {
    color: #ffffff;
    font-family: 'Source Serif Pro', serif;
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: 57px; }
  .home__text {
    color: #cdcdcd;
    font-family: sans-serif;
    font-size: 15px;
    margin: 30px 0px 60px 0px;
    line-height: 24px; }
  .home__friendship {
    color: #292929;
    font-family: 'Source Serif Pro', serif;
    font-size: 17px;
    letter-spacing: 1.02px;
    padding: 18px 45px;
    background: #f1cdb3;
    border-radius: 40px; }
    .home__friendship:hover {
      background: #241a19;
      color: #fff;
      cursor: pointer; }
  .home__right {
    margin: 0px -380px 0px 0px; }

@media (max-width: 1100px) {
  .home__box {
    flex-direction: column;
    align-items: center; }
  .home__left {
    margin: 200px 0px 0px 0px; }
  .home__right img {
    max-width: 100%; } }

.about__box {
  display: flex;
  padding: 90px 0px;
  max-width: 834px;
  margin: 0 auto; }

.about__img {
  flex: 0 0 50%; }
  .about__img img {
    max-width: 100%; }

.about__text p {
  color: #4c4c4c;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; }
  .about__text p:first-child {
    padding: 37px 0px; }

.title {
  color: #545454;
  font-family: 'Source Serif Pro', serif;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.1px; }

@media (max-width: 768px) {
  .about__box {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center; }
  .about__img {
    margin: 0px 0px 50px 0px; } }

.friends {
  background: #f6f6f6;
  padding: 78px 0px 68px 0px; }
  .friends__title {
    text-align: center; }
  .friends__butt {
    text-align: center; }
    .friends__butt a {
      color: #292929;
      font-family: 'Source Serif Pro', serif;
      font-size: 17px;
      letter-spacing: 1.02px;
      padding: 15px 50px;
      border: 1px solid #f1cdb3;
      border-radius: 40px; }
      .friends__butt a:hover {
        background: #f1cdb3; }

.friends--slider {
  position: relative; }
  .friends--slider__bttLeft {
    height: 50px;
    width: 50px;
    border: 1px solid #f1cdb3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    cursor: pointer; }
    .friends--slider__bttLeft:hover {
      background: #f1cdb3; }
    .friends--slider__bttLeft img {
      position: relative;
      top: 21px;
      left: 15px; }
  .friends--slider__bttRight {
    height: 50px;
    width: 50px;
    border: 1px solid #f1cdb3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0px;
    cursor: pointer; }
    .friends--slider__bttRight:hover {
      background: #f1cdb3; }
    .friends--slider__bttRight img {
      position: relative;
      top: 21px;
      left: 15px; }
  .friends--slider__box {
    display: flex;
    max-width: 910px;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0px 100px 0px; }
  .friends--slider__pet {
    position: relative;
    right: 0;
    top: 0;
    text-align: center;
    background: #fafafa;
    border-radius: 15px;
    margin: 0px 50px 0px 0px;
    transition: 1s all ease 0s; }
    .friends--slider__pet:hover {
      top: -20px; }
  .friends--slider__img {
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .friends--slider__name {
    margin: 30px 0px 20px 0px;
    color: #545454;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    letter-spacing: 1.2px; }
  .friends--slider__butt {
    color: #292929;
    font-family: 'Source Serif Pro', serif;
    font-size: 17px;
    letter-spacing: 1.02px;
    padding: 15px 45px;
    border: 1px solid #f1cdb3;
    border-radius: 30px;
    display: inline-block;
    margin: 0px 0px 35px 0px;
    cursor: pointer; }
    .friends--slider__butt:hover {
      background: #f1cdb3; }

@media (max-width: 1200px) {
  .friends--slider__box {
    max-width: 620px; } }

@media (max-width: 800px) {
  .friends--slider__box {
    max-width: 270px; } }

@media (max-width: 480px) {
  .friends--slider__box {
    max-width: 270px;
    margin: 30px auto; }
  .friends--slider__bttLeft {
    top: 500px; }
  .friends--slider__bttRight {
    top: 500px; }
  .friends--slider__pet:hover {
    top: 0px; } }

.help {
  padding: 72px 0px 79px 0px;
  display: flex;
  align-items: center;
  background: #fafafa; }
  .help__title {
    text-align: center; }
  .help__things {
    max-width: 1123px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px -100px 0px 0px; }
  .help__item {
    width: 166px;
    height: 111px;
    margin: 80px 100px 0px 0px;
    text-align: center;
    box-sizing: content-box; }
    .help__item:hover {
      border-bottom: 3px solid #545454; }
    .help__item img {
      margin: 0px 0px 30px 0px; }
    .help__item p {
      color: #545454;
      font-family: 'Source Serif Pro', serif;
      font-size: 20px;
      letter-spacing: 1.2px; }

.donation {
  background: #f6f6f6; }
  .donation__box {
    display: flex;
    max-width: 925px;
    margin: 0px auto;
    padding: 70px 0px 85px 0px; }
  .donation__img {
    margin: 0px 50px 0px 0px;
    object-fit: contain;
    max-width: 100%; }
  .donation__bank p {
    color: #545454;
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    letter-spacing: 0.9px;
    margin: 15px 0px 25px 0px; }
  .donation__bank span {
    color: #292929;
    font-family: serif;
    font-size: 20px;
    letter-spacing: 1.2px;
    padding: 10px;
    background: #f1cdb3;
    border-radius: 9px; }
    .donation__bank span img {
      margin: 0px 15px 0px 0px; }
  .donation__txt {
    color: #b2b2b2;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 22px;
    margin: 40px 0px 0px 0px; }

@media (max-width: 970px) {
  .donation__box {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .donation__img {
    margin: 0px 0px 70px 0px; }
  .donation__title {
    font-size: 25px; }
  .donation__bank span {
    font-size: 15px; }
  .donation__bank img {
    position: relative;
    bottom: 4px; }
  .donation__txt {
    margin: 25px 0px 0px 0px; } }

.bodyPets {
  background: #f6f6f6; }

.pets {
  padding: 150px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pets__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px; }
  .pets__card {
    position: relative;
    right: 0;
    top: 0;
    text-align: center;
    background: #fafafa;
    border-radius: 15px;
    margin: 0px 15px 100px 15px;
    transition: 1s all ease 0s; }
    .pets__card:hover {
      top: -20px; }
  .pets__img {
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .pets__name {
    margin: 30px 0px 20px 0px;
    color: #545454;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    letter-spacing: 1.2px; }
  .pets__butt {
    color: #292929;
    font-family: 'Source Serif Pro', serif;
    font-size: 17px;
    letter-spacing: 1.02px;
    padding: 15px 45px;
    border: 1px solid #f1cdb3;
    border-radius: 30px;
    display: inline-block;
    margin: 0px 0px 35px 0px;
    cursor: pointer; }
    .pets__butt:hover {
      background: #f1cdb3; }
