@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: 'Conv_10398';
  src: url("../fonts/10398.eot");
  src: local("☺"), url("../fonts/10398.woff") format("woff"), url("../fonts/10398.ttf") format("truetype"), url("../fonts/10398.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.container {
  max-width: 1400px;
  padding: 0px 40px;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  font-family: "Conv_10398", sans-serif;
  min-width: 320px;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

.wrapper {
  overflow: hidden; }

.first {
  margin: 20px 0 0 0;
  padding: 20px 0;
  height: 100vh;
  position: relative; }
  .first__box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
  .first__txt {
    font-size: 42px;
    max-width: 450px;
    line-height: 50px;
    margin: 0 0 0 100px;
    padding: 50px 0 0 0px; }
  .first__bottom {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0; }
    .first__bottom img {
      max-height: 450px; }
  .first__name {
    font-size: 34px;
    font-weight: 500;
    color: #87878A;
    font-family: 'Open Sans', sans-serif; }

@media (max-width: 997px) {
  .first {
    margin: 0; }
    .first__txt {
      font-size: 30px;
      line-height: 35px;
      margin: 0; }
    .first__bottom img {
      max-height: 350px; }
    .first__name {
      font-size: 24px; } }

@media (max-width: 470px) {
  .first__txt {
    font-size: 25px;
    line-height: 30px;
    max-width: 300px; }
  .first__bottom img {
    max-height: 300px; }
  .first__name {
    font-size: 20px;
    margin: 0 0 -100px -20px; } }

@media (max-height: 420px) {
  .first__txt {
    display: none; } }

.category__box {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 0 0; }
  .category__box > img {
    max-height: 600px;
    align-self: flex-end; }

.category__title {
  font-size: 50px;
  margin: 0 0 50px 0; }

.category__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
  overflow: hidden; }

.category-item {
  display: flex;
  align-items: center;
  margin: 0 0 25px 0;
  width: 250px; }
  .category-item img {
    margin: 0 15px 0 0;
    width: 100px; }
  .category-item span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 18px; }

@media (max-width: 1170px) {
  .category__box {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .category__box > img {
      align-self: center; }
  .category__list {
    align-items: center; }
  .category .category-item {
    text-align: center; }
    .category .category-item span {
      font-size: 12px; } }

@media (max-width: 768px) {
  .category__title {
    font-size: 30px; }
  .category__box > img {
    max-height: 400px; }
  .category__list {
    max-height: 400px; }
  .category-item {
    width: 200px; }
    .category-item img {
      width: 60px; } }

@media (max-width: 550px) {
  .category-item {
    width: 100px;
    height: 125px;
    flex-direction: column; }
    .category-item img {
      margin: 0 0 10px 0; }
  .category__box {
    padding: 20px 0 0 0; }
  .category__title {
    font-size: 25px; }
  .category__list {
    max-height: 600px; }
  .category__box > img {
    max-height: 300px; } }

.location {
  padding: 50% 100% 0 0;
  min-height: 400px;
  margin: 0 -2px 0 0;
  position: relative; }
  .location__txt {
    font-size: 50px;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0, -50%);
    color: #262627; }

@media (max-width: 1024px) {
  .location__txt {
    font-size: 40px; } }

@media (max-width: 730px) {
  .location__txt {
    font-size: 30px;
    max-width: 200px; } }

@media (max-width: 600px) {
  .location__txt {
    font-size: 20px;
    max-width: 150px; } }

#location__adapt {
  display: none;
  font-size: 25px;
  text-align: center;
  padding: 10px 10px 15px 10px;
  color: #262627; }
  @media (max-width: 370px) {
    #location__adapt {
      padding: 15px 0 5px 0; } }

@media (max-width: 540px) {
  .location {
    background-position: -150px 0 !important; } }

@media (max-width: 470px) {
  .location {
    background-position: -250px 0 !important; } }

@media (max-width: 370px) {
  .location {
    background-position: -330px 0 !important; } }

.terminal {
  padding: 40px 0 0 0; }
  .terminal img {
    max-height: 500px; }
  .terminal__box {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 auto; }
  .terminal__title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 40px;
    max-width: 400px; }
  .terminal__block {
    position: absolute;
    width: 250px;
    min-height: 230px;
    padding: 15px 20px 0 20px;
    background: #A7A7FF;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .terminal__block p:first-child {
      margin: 0 0 20px 0; }
    .terminal__block span {
      color: #fff;
      font-size: 12px;
      margin: 0 0 10px 0;
      display: inline-block; }
    .terminal__block p {
      color: #262627;
      font-size: 20px;
      margin: 0 0 5px 0; }

@media (max-width: 997px) {
  .terminal img {
    max-width: 300px; }
  .terminal__title {
    font-size: 30px;
    width: 300px; }
  .terminal__block {
    top: 100%;
    transform: translate(-50%, -105%); } }

@media (max-width: 710px) {
  .terminal__title {
    font-size: 25px;
    width: 300px;
    top: 20px; }
  .terminal__block {
    top: 100%;
    transform: translate(-50%, -105%);
    padding: 10px; } }

@media (max-width: 470px) {
  .terminal__box img {
    margin: 0 0 0 -100px; }
  .terminal__title {
    color: #A7A7FF; } }

@media (max-width: 370px) {
  .terminal__title {
    width: 300px;
    top: 20px;
    left: 20px; }
  .terminal__block {
    top: 100%;
    transform: translate(-50%, -105%); } }

.example {
  padding: 100px 0 50px 0; }
  .example__box {
    position: relative; }
  .example__txt {
    position: absolute;
    z-index: 6;
    left: 0px;
    top: 0;
    font-size: 45px;
    width: 500px;
    color: #A7A7FF;
    font-weight: 400; }
    .example__txt p {
      color: #000;
      font-weight: 900;
      margin: 20px 0 0 0; }
  .example__img {
    text-align: center; }
    .example__img img {
      width: 350px; }
    .example__img_one img:first-child {
      position: relative;
      bottom: -100px;
      right: -230px;
      z-index: 2;
      box-shadow: 5px 5px 10px #000; }
    .example__img_one img:last-child {
      position: relative;
      top: -20px;
      right: -100px;
      box-shadow: 5px 5px 10px #000; }
    .example__img_two img:first-child {
      position: relative;
      bottom: 100px;
      z-index: 5;
      box-shadow: 5px 5px 10px #000; }
    .example__img_two img:nth-child(2) {
      position: relative;
      bottom: 50px;
      left: -50px;
      z-index: 3; }
    .example__img_two img:last-child {
      position: relative;
      z-index: 5;
      left: -30px;
      box-shadow: 5px 5px 10px #000; }

@media (max-width: 1170px) {
  .example__txt {
    top: -40px;
    font-size: 30px; }
    .example__txt p {
      margin: 10px 0 0 0; }
  .example__img img {
    width: 250px; } }

@media (max-width: 850px) {
  .example__img img {
    width: 200px; } }

@media (max-width: 700px) {
  .example__txt {
    top: -100px; }
  .example__box {
    display: flex;
    justify-content: space-around;
    margin: 70px 0 0 0; }
  .example__img img {
    width: 200px; }
  .example__img_one {
    display: flex;
    flex-direction: column; }
    .example__img_one img:first-child {
      bottom: 0;
      left: 20px; }
    .example__img_one img:last-child {
      bottom: 0;
      right: 30px; }
  .example__img_two {
    display: flex;
    flex-direction: column; }
    .example__img_two img:first-child {
      left: 0;
      bottom: 0; }
    .example__img_two img:nth-child(2) {
      top: -50px;
      left: -50px; }
    .example__img_two img:last-child {
      left: -30px;
      top: -60px; } }

@media (max-width: 500px) {
  .example {
    padding: 100px 0 0 0; }
    .example__img img {
      width: 150px; }
    .example__txt {
      font-size: 25px;
      width: 250px;
      left: 0px; } }

.banner {
  padding: 30px 0; }
  .banner__txt {
    margin: 0 0 30px 0; }
    .banner__txt p {
      font-size: 40px;
      max-width: 900px; }
    .banner__txt p:first-child {
      color: #A7A7FF;
      margin: 0 0 20px 0; }
  .banner__adv {
    display: flex;
    align-items: center; }
  .banner__item {
    margin: 0 20px 0 0; }
    .banner__item img {
      width: 380px; }
  .banner__num {
    display: flex;
    align-items: center;
    margin: 10px 0 0 0; }
    .banner__num span {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%; }
      .banner__num span:first-child {
        width: 40px;
        height: 40px;
        background: #909092;
        color: #fff;
        margin: 0 10px 0 0; }
      .banner__num span:last-child {
        max-width: 200px; }
  .banner__circl {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #A7A7FF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    color: #fff;
    transform: translate(-40%, -10%); }

@media (max-width: 1130px) {
  .banner__item img {
    width: 300px; }
  .banner__circl {
    width: 170px;
    height: 170px;
    font-size: 12px; } }

@media (max-width: 900px) {
  .banner__txt p {
    font-size: 35px; }
  .banner__adv {
    flex-direction: column; }
  .banner__item {
    margin: 0; }
    .banner__item:nth-child(2) {
      order: 3;
      margin: -40px 0 0 0; }
    .banner__item:nth-child(1) {
      margin: 0 0 -40px 0; }
  .banner__circl {
    transform: translate(0, 0);
    order: 2;
    background: rgba(121, 105, 255, 0.7); } }

@media (max-width: 570px) {
  .banner__txt p {
    font-size: 25px; } }

@media (max-width: 1270px) {
  .banner__adv_two {
    flex-direction: column; }
  .banner__adv_three {
    flex-direction: column; }
  .banner__item_two:nth-child(1) {
    order: 1;
    margin: 0 0 20px 0; }
  .banner__item_two:nth-child(2) {
    order: 2;
    margin: 0 0 20px 0; }
  .banner__item_two:nth-child(3) {
    order: 3; } }

.banner__adv_three {
  position: relative;
  padding: 0 0 100px 0; }
  @media (max-width: 1270px) {
    .banner__adv_three {
      padding: 0; } }

.banner__img {
  position: absolute;
  left: 50%;
  transform: translate(-65%, 0%);
  width: 600px;
  bottom: 0; }
  @media (max-width: 1270px) {
    .banner__img {
      bottom: 50%;
      left: 0;
      transform: rotate(90deg); } }
  @media (max-width: 1100px) {
    .banner__img {
      left: -50px; } }
  @media (max-width: 940px) {
    .banner__img {
      left: -100px; } }
  @media (max-width: 770px) {
    .banner__img {
      left: -200px; } }
  @media (max-width: 600px) {
    .banner__img {
      left: -280px; } }

.info__box {
  position: relative;
  margin: 20px 0 0 0; }

.info__txt {
  max-width: 400px;
  padding: 200px 0;
  position: relative;
  top: -200px; }
  .info__txt p {
    font-size: 40px;
    max-width: 900px; }
  .info__txt p:first-child {
    color: #A7A7FF; }

.info__circle {
  border-radius: 50%;
  background: #A7A7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 20px;
  position: absolute;
  color: #fff; }
  .info__circle_one {
    bottom: 150px; }
  .info__circle_two {
    top: 0;
    right: 300px; }
  .info__circle_three {
    width: 200px;
    height: 200px;
    right: 50px;
    top: 100px; }

.line-one {
  position: absolute;
  bottom: 170px;
  left: 90px;
  max-width: 170px; }

.line-two {
  position: absolute;
  right: 100px;
  bottom: 280px;
  transform: rotate(120deg);
  max-width: 150px; }

@media (max-width: 990px) {
  .line-one {
    display: none; } }

@media (max-width: 770px) {
  .info__txt p {
    font-size: 25px;
    margin: 5px 0 0 0; }
  .info__circle_two {
    right: 150px; }
  .info__circle_three {
    right: 0px;
    top: 65px; }
  .line-two {
    display: none; } }

@media (max-width: 600px) {
  .info {
    background-position: -250px 0 !important; }
    .info__txt p {
      font-size: 25px;
      margin: 5px 0 0 0; }
    .info__circle_two {
      right: 10px;
      top: 30px; }
    .info__circle_three {
      right: 50px;
      top: 250px;
      width: 160px;
      height: 160px; } }

@media (max-width: 440px) {
  .info__txt p {
    font-size: 25px;
    margin: 5px 0 0 0; }
  .info__circle_two {
    top: 150px; }
  .info__circle_three {
    right: -10px;
    top: 320px; } }

.target__box {
  padding: 40px 0;
  position: relative; }

.target__txt {
  font-size: 40px;
  width: 250px;
  margin: 0 0 80px 0; }
  @media (max-width: 770px) {
    .target__txt {
      font-size: 25px; } }

.target__img {
  display: flex;
  justify-content: center; }
  .target__img img {
    width: 200px;
    margin: 0 30px; }

.target__item {
  text-align: center; }
  .target__item p {
    width: 100px;
    margin: 10px auto; }

.target__arrow {
  position: absolute;
  width: 100px !important; }
  .target__arrow_one {
    left: 180px;
    transform: rotate(-90deg); }
  .target__arrow_two {
    top: 120px;
    right: 120px; }

@media (max-width: 1230px) {
  .target__arrow_one {
    left: 60px;
    transform: rotate(-90deg); }
  .target__arrow_two {
    top: 200px;
    right: 60px; } }

@media (max-width: 970px) {
  .target__arrow_one {
    display: none; }
  .target__arrow_two {
    display: none; }
  .target__img {
    flex-direction: column; }
    .target__img img {
      margin: 0; }
  .target__item {
    margin: 0 0 30px 0; } }

.check {
  margin: 0 -1px 0 0;
  text-align: center;
  position: relative;
  padding: 40px 0 0 0; }
  .check img {
    max-width: 900px; }
  .check__txt {
    font-size: 40px;
    text-align: left; }
    @media (max-width: 770px) {
      .check__txt {
        font-size: 25px; } }
  .check__circl {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 140px;
    height: 140px;
    padding: 5px;
    border-radius: 50%;
    background: #313134;
    display: flex;
    justify-content: center;
    align-items: center; }
    .check__circl p {
      color: #fff; }
      .check__circl p span {
        font-size: 40px;
        color: #A7A7FF; }

@media (max-width: 600px) {
  .check img {
    margin: 0 0 0 -100px; }
  .check__circl {
    top: 15%; } }

@media (max-width: 450px) {
  .check img {
    margin: 0 0 0 -300px; } }

.rolik {
  padding: 40px 0 0 0; }
  .rolik__box {
    display: flex;
    justify-content: space-between; }
    .rolik__box img {
      max-height: 500px; }
  .rolik__title {
    font-size: 40px;
    max-width: 400px; }
  .rolik__list {
    margin: 70px 0 0 70px; }
  .rolik__item {
    display: flex;
    align-items: center; }
    .rolik__item p:first-child {
      width: 100px;
      font-size: 70px;
      color: #A7A7FF;
      margin: 0 15px 0 0; }
      .rolik__item p:first-child span {
        font-size: 14px; }
    .rolik__item p:last-child {
      width: 50px;
      font-size: 13px; }
      .rolik__item p:last-child span {
        color: #A7A7FF; }

@media (max-width: 970px) {
  .rolik__box {
    flex-direction: column;
    align-items: center; }
  .rolik__list {
    margin: 40px 0; } }

@media (max-width: 770px) {
  .rolik__box img {
    max-width: 300px; }
  .rolik__title {
    font-size: 25px; }
  .rolik__item {
    justify-content: center; } }

.site {
  margin: 0 -1px 0 0;
  padding: 40px 0 0 0; }
  .site__box {
    display: flex;
    justify-content: space-between; }
  .site__left {
    max-width: 400px; }
  .site__title {
    font-size: 40px;
    margin: 0 0 30px 0; }
    @media (max-width: 770px) {
      .site__title {
        font-size: 25px; } }
  .site__txt {
    line-height: 18px; }
  .site__right {
    position: relative;
    left: -80px; }
    .site__right img {
      max-width: 500px; }
  .site__circl {
    position: absolute;
    top: 0;
    right: 150px;
    padding: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: #A7A7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; }

@media (max-width: 1050px) {
  .site__box {
    flex-direction: column;
    align-items: center; }
  .site__left {
    margin: 0 0 30px 0; }
  .site__right {
    left: 0; } }

.light {
  margin: 0 -1px 0 0;
  padding: 40px 0 0 0; }
  .light__box {
    display: flex;
    justify-content: space-between; }
    .light__box img {
      max-height: 500px;
      margin: 0 150px 0 0; }
  .light__txt {
    max-width: 400px;
    font-size: 40px; }

@media (max-width: 770px) {
  .light__box {
    flex-direction: column;
    align-items: center; }
    .light__box img {
      margin: 0; }
  .light__txt {
    margin: 0 0 50px 0;
    font-size: 25px;
    line-height: 30px; } }

.brand {
  margin: 0 -1px 0 0; }
  .brand__box {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .brand__box img {
      width: 100%;
      min-width: 500px; }
  .brand__txt {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 40px;
    width: 400px; }
    @media (max-width: 770px) {
      .brand__txt {
        font-size: 25px;
        width: 200px; } }

.programm {
  padding: 40px 0; }
  .programm__txt {
    max-width: 500px; }
    .programm__txt p {
      font-size: 40px; }
      @media (max-width: 770px) {
        .programm__txt p {
          font-size: 25px; } }
      .programm__txt p:first-child {
        color: #A7A7FF; }
  .programm__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .programm__bottom > img {
      max-height: 400px; }
    .programm__bottom img {
      max-width: 200px; }
  .programm__left .programm__item:first-child {
    position: relative;
    bottom: 100px;
    right: 20px; }
  .programm__left .programm__item:last-child {
    position: relative;
    bottom: 100px;
    right: -50px; }
  .programm__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .programm__item img {
      margin: 5px 0; }
  .programm__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120px; }
    .programm__subtitle p:first-child {
      font-size: 40px;
      margin: 0 5px 0 0; }
  .programm__right .programm__item:first-child {
    position: relative;
    top: 50px;
    right: 50px;
    z-index: 2; }
  .programm__right .programm__item:nth-child(2) {
    position: relative;
    bottom: 50px; }
  .programm__right .programm__item:last-child {
    position: relative;
    bottom: 20px;
    right: 50px; }

@media (max-width: 1040px) {
  .programm__bottom > img {
    display: none; } }

@media (max-width: 810px) {
  .programm__txt {
    margin: 0 0 30px 0; }
  .programm__bottom {
    flex-direction: column;
    align-items: flex-start; }
  .programm__left {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .programm__item {
    position: static !important;
    margin: 5px 20px; }
  .programm__cent {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    flex-wrap: wrap; }
  .programm__right {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; } }

.price {
  padding: 40px 0 0 0; }
  .price__txt {
    font-size: 40px;
    margin: 0 0 40px 0; }
    @media (max-width: 770px) {
      .price__txt {
        font-size: 25px; } }
    .price__txt span {
      color: #A7A7FF; }
  .price__var {
    display: flex;
    justify-content: center;
    margin: 0 0 60px 0;
    position: relative; }
    .price__var img {
      max-width: 300px; }
      .price__var img:nth-child(1) {
        position: relative;
        top: 30px;
        left: 30px; }
      .price__var img:nth-child(3) {
        position: relative;
        top: 30px;
        right: 30px; }
      .price__var img:nth-child(2) {
        position: relative;
        z-index: 2; }
  .price__circle {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    bottom: 0;
    left: 50px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    bottom: -50px; }
    .price__circle span {
      font-size: 30px;
      display: inline-block;
      margin: 0 0 5px 0; }
    .price__circle_one {
      background: #A7A7FF;
      left: 100px; }
      .price__circle_one span {
        color: #363636; }
    .price__circle_two {
      background: #363636;
      left: 270px; }
      .price__circle_two span {
        color: #A7A7FF; }

.price-bott {
  background: #363636; }
  .price-bott__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0; }
    .price-bott__box a img {
      max-width: 150px;
      margin: 5px 11px; }

@media (max-width: 900px) {
  .price__var {
    flex-direction: column;
    align-items: center; }
    .price__var img {
      position: static !important;
      margin: 5px 0; }
  .price__circle {
    bottom: 400px; }
    .price__circle_one {
      left: 0; }
    .price__circle_two {
      left: 120px; } }

@media (max-width: 410px) {
  .price__circle_one {
    left: -30px; } }

.lido {
  padding: 40px 0; }
  .lido__txt {
    font-size: 40px;
    max-width: 300px;
    margin: 0 0 30px 0; }
    @media (max-width: 770px) {
      .lido__txt {
        font-size: 25px; } }
    .lido__txt span {
      color: #A7A7FF; }
  .lido__box {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }
  .lido__left .lido__item:last-child {
    position: relative;
    bottom: 50px;
    left: 100px; }
  .lido__item img {
    max-width: 300px; }
  .lido__subtitle {
    display: flex;
    align-items: center;
    max-width: 100px;
    margin: 10px; }
    .lido__subtitle p:first-child {
      margin: 0 5px 0 0;
      font-size: 30px; }
  .lido__right .lido__item {
    display: flex;
    align-items: flex-start; }
    .lido__right .lido__item:nth-child(2) {
      position: relative;
      left: 50px;
      bottom: 100px; }
    .lido__right .lido__item:nth-child(3) {
      position: relative;
      bottom: 200px;
      right: -100px; }

@media (max-width: 1150px) {
  .lido__box {
    flex-direction: column;
    align-items: center; }
  .lido__left {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .lido__item {
    position: static !important;
    margin: 10px; }
  .lido__right {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .lido__right .lido__item {
      display: block; } }

.plus {
  padding: 40px 0; }
  .plus__txt {
    font-size: 40px;
    margin: 0 0 60px 0;
    max-width: 400px; }
    @media (max-width: 770px) {
      .plus__txt {
        font-size: 25px; } }
  .plus__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .plus__block {
    display: flex;
    flex-direction: column;
    margin: 0 30px; }
  .plus__item {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0 0 20px 0; }
    .plus__item img {
      max-width: 70px;
      margin: 0 10px 0 0; }

@media (max-width: 1160px) {
  .plus__box {
    justify-content: space-around; } }

.contact__box {
  display: flex;
  align-items: center;
  justify-content: center; }
  .contact__box img {
    max-height: 320px; }

.contact__inf {
  margin: 0 0 0 50px; }
  .contact__inf p {
    line-height: 30px;
    font-size: 20px;
    color: #87878A;
    font-family: 'Open Sans', sans-serif; }

@media (max-width: 500px) {
  .contact__box {
    flex-direction: column; }
  .contact__inf {
    margin: 20px 0 0 0; } }

.russia {
  padding: 40px 0; }
  .russia__txt {
    font-size: 40px;
    max-width: 700px;
    margin: 0 0 20px 0; }
    @media (max-width: 770px) {
      .russia__txt {
        font-size: 25px; } }
  .russia__box {
    display: flex; }
  .russia__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .russia__block {
    max-width: 160px;
    height: 160px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .russia__block_one {
      background: #A7A7FF; }
    .russia__block_two {
      background: #000; }
  .russia__bott {
    display: flex; }
  .russia__symb {
    display: flex;
    margin: 0 5px 0 0; }
    .russia__symb p {
      color: #B7B4B4; }
    .russia__symb img {
      width: 20px;
      height: 30px;
      margin: 0 5px 0 0; }
  .russia__right {
    position: relative; }
    .russia__right img {
      max-width: 900px; }
  .russia__circl {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #E6E2E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 20px; }
    .russia__circl:nth-child(2) {
      left: 200px; }
    .russia__circl:nth-child(3) {
      left: 370px; }
    .russia__circl:nth-child(4) {
      left: 540px; }
    .russia__circl span {
      font-size: 20px;
      color: #A7A7FF; }
    .russia__circl p {
      margin: 5px 0 0 0; }
      .russia__circl p:first-child {
        margin: 0 0 10px 0; }

@media (max-width: 970px) {
  .russia__box {
    flex-direction: column;
    margin: 40px 0 0 0; }
  .russia__left {
    flex-direction: row;
    align-items: center; }
  .russia__bott {
    flex-direction: column; }
  .russia__symb {
    margin: 0 0 10px 0;
    align-items: center; } }

@media (max-width: 710px) {
  .russia__left {
    flex-direction: column; }
  .russia__block {
    margin: 0 0 30px 0; }
  .russia__right img {
    margin: 0 0 0 -150px; }
  .russia__circl:nth-child(2) {
    left: 0px; }
  .russia__circl:nth-child(3) {
    left: 170px; }
  .russia__circl:nth-child(4) {
    left: 340px; } }

@media (max-width: 570px) {
  .russia__left {
    flex-direction: column; }
  .russia__block {
    margin: 0 0 30px 0; }
  .russia__right img {
    margin: 0 0 0 -150px; }
  .russia__circl {
    width: 135px;
    height: 135px; }
    .russia__circl:nth-child(2) {
      left: 0px; }
    .russia__circl:nth-child(3) {
      left: 0px;
      bottom: 175px; }
    .russia__circl:nth-child(4) {
      left: 0px;
      bottom: 330px; } }

.network {
  padding: 40px 0;
  text-align: center; }
  .network__txt {
    font-size: 40px;
    margin: 0 0 60px 0; }
    @media (max-width: 770px) {
      .network__txt {
        font-size: 25px; } }
  .network__imgs {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 1100px) {
      .network__imgs {
        justify-content: space-around; } }
    .network__imgs img {
      max-width: 130px;
      margin: 20px 20px; }
  .network__part {
    margin: 50px 0 0 0; }
    .network__part img {
      width: 100%; }

.portret {
  padding: 40px 0 0 0; }
  .portret__txt {
    font-size: 40px;
    text-align: center;
    margin: 0 0 60px 0; }
    @media (max-width: 770px) {
      .portret__txt {
        font-size: 25px; } }
  .portret__box {
    position: relative; }
  .portret__top {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .portret__top .portret__title {
      top: 0; }
  .portret__item {
    width: 500px;
    text-align: center;
    position: relative;
    padding: 30px;
    margin: 10px; }
  .portret__title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px; }
  .portret__bottom {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .portret__circl {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #fff;
    background: #A7A7FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .portret__circl p:first-child {
      font-size: 30px;
      margin: 0 0 10px 0; }

@media (max-width: 1100px) {
  .portret__top {
    flex-direction: column;
    align-items: center; }
  .portret__title {
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0); }
  .portret__bottom {
    flex-direction: column;
    align-items: center; }
  .portret__circl {
    display: none; } }
