@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.fullscreen {
  background: url("../img/rudder.png") center/cover;
  height: 100vh;
}

.generation {
  background: #f7f7f7;
}
.generation__box {
  margin: 0 auto;
  text-align: center;
  padding: 117px 20px 142px 20px;
  max-width: 1079px;
}
.generation__img {
  margin: 0px 0px 35px 0px;
}
.generation__text {
  margin: 25px 0px 0px 0px;
}

.title {
  color: #353738;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.text {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}

@media (max-width: 900px) {
  .generation__box {
    padding: 80px 20px 120px 20px;
  }
}
.oliva__box {
  display: flex;
}
.oliva__left {
  flex: 0 0 66.666%;
  background: url("../img/oliva1.png") center/cover;
  position: relative;
}
.oliva__img {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.oliva__img:hover {
  background: #64af94;
  opacity: 0.6;
}
.oliva__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -59px 0px 0px -56.5px;
}
.oliva__right {
  flex: 1 1 33.333%;
}
.oliva__inf {
  padding: 70px 68px 64px 64px;
  text-align: center;
}
.oliva__title {
  margin: 30px 0px;
}
.oliva__text {
  margin: 0px 0px 40px 0px;
  text-align: justify;
}
.oliva__img2 {
  background: url("../img/oliva2.png") center/cover;
  padding: 0px 0px 37.5% 0px;
  position: relative;
}
.oliva__img2:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #ffffff;
  margin: 0px 0px 0px -12.5px;
}

@media (max-width: 1024px) {
  .oliva__box {
    flex-direction: column;
  }
  .oliva__left {
    padding: 0px 0px 100% 0px;
  }
  .oliva__img {
    position: absolute;
  }
}
.boriosa__box {
  display: flex;
}

.block__left {
  flex: 0 0 33.333%;
  padding: 61px 0px 0px 0px;
  text-align: center;
}
.block__title {
  padding: 29px 0px 26px 0px;
}
.block__text {
  text-align: justify;
  padding: 0px 68px 104px 69px;
  position: relative;
}
.block__text:after {
  content: "";
  width: 51px;
  height: 1px;
  background-color: #ebebeb;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin: 0px 0px 0px -25.5px;
}
.block__img {
  background: url("../img/boriosa2.png") center/cover;
  padding: 0px 0px 37.4% 0px;
  position: relative;
}
.block__img:before {
  content: "";
  position: absolute;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 15px solid #fff;
  left: 50%;
  margin: 0px 0px 0px -10px;
}
.block__right {
  flex: 0 0 66.667%;
  background: url("../img/boriosa1.png") center/cover;
  position: relative;
}
.block__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.block__logo:hover {
  opacity: 0.7;
  background: #64af94;
}
.block__logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -76px 0px 0px -86px;
}

@media (max-width: 1024px) {
  .boriosa__box {
    flex-direction: column;
  }

  .block__right {
    order: 1;
    padding: 0px 0px 100% 0px;
  }

  .block__left {
    order: 2;
  }
}
.hulot__box {
  display: flex;
}

.column__left {
  flex: 0 0 33.333%;
  background: url("../img/hulot1.png") center/cover;
  position: relative;
}
.column__logo1 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.column__logo1:hover {
  opacity: 0.7;
  background: #64af94;
}
.column__logo1 img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -33.5px 0px 0px -104px;
}
.column__center {
  flex: 0 0 33.333%;
}
.column__inf {
  padding: 58px 68px 103px 69px;
  text-align: center;
}
.column__title {
  padding: 20px 0px 26px 0px;
}
.column__text {
  text-align: justify;
  position: relative;
}
.column__text:after {
  content: "";
  width: 51px;
  height: 1px;
  background-color: #ebebeb;
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin: 0px 0px 0px -25.5px;
}
.column__img {
  background: url("../img/hulot3.png") center/cover;
  padding: 0px 0px 37.5% 0px;
  position: relative;
}
.column__img:before {
  content: "";
  position: absolute;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 15px solid #fff;
  left: 50%;
  margin: 0px 0px 0px -10px;
}
.column__right {
  flex: 0 0 33.333%;
  background: url("../img/hulot2.png") center/cover;
  position: relative;
}
.column__logo2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.column__logo2:hover {
  opacity: 0.7;
  background: #64af94;
}
.column__logo2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -33.5px 0px 0px -104px;
}

@media (max-width: 1024px) {
  .hulot__box {
    flex-direction: column;
  }

  .column__left {
    padding: 0px 0px 100% 0px;
  }
  .column__right {
    padding: 0px 0px 100% 0px;
  }
}
.slider {
  background: #f7f7f7;
}
.slider__polosa {
  padding: 124px 20px 80px 20px;
  max-width: 1076px;
  margin: 0 auto;
}
.slider__item {
  text-align: center;
}
.slider__title {
  color: #353738;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin: 37px 0px 27px 0px;
}
.slider__title span {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 1.8px;
}
.slider__txt {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 34px;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 104px 0px 0px 0px;
}

.slick-dots li {
  margin: 0px 9px 0px 0px;
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  background: #f7f7f7;
}

/* Активная точка */
.slick-dots li.slick-active {
  background: #a9afb3;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
}

@media (max-width: 768px) {
  .slider__polosa {
    padding: 70px 20px;
  }

  .slider__title {
    font-size: 16px;
  }

  .slider__txt {
    font-size: 18px;
  }

  .slick-dots {
    margin: 50px 0px 0px 0px;
  }
}
.shop {
  display: flex;
}
.shop__left {
  flex: 0 1 33.333%;
}
.shop__topLeft {
  display: flex;
}
.shop__topLeft_3 {
  flex: 0 1 50%;
  background: url("../img/shop1.png") center/cover;
  padding: 50% 0px 0px 0px;
  position: relative;
}
.shop__topLeft_4 {
  flex: 0 1 50%;
  background: url("../img/shop2.png") center/cover;
  padding: 50% 0px 0px 0px;
  position: relative;
}
.shop__topLeft .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.shop__topLeft .back img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -59px 0 0 -56.5px;
}
.shop__bottLeft {
  background: url("../img/shop3.png") center/cover;
  padding: 0 0 50% 0;
  position: relative;
}
.shop__center {
  flex: 0 1 33.333%;
  display: flex;
}
.shop__center_1 {
  flex: 0 1 50%;
  background: url("../img/shop4.png") center/cover;
  padding: 50% 0% 0 0;
  position: relative;
}
.shop__center_1 .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.shop__center_1 .back img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -59px 0 0 -56.5px;
}
.shop__center_2 {
  flex: 0 1 50%;
  background: url("../img/shop5.png") center/cover;
  padding: 0% 0 0 50%;
  position: relative;
}
.shop__center_2 .back {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.shop__center_2 .back img {
  position: absolute;
  top: 50%;
  margin: -59px 0 0 -56.5px;
}
.shop__right {
  flex: 0 1 33.333%;
}
.shop__topRight {
  background: url("../img/shop6.png") center/cover;
  padding: 0 0 50% 0;
  position: relative;
}
.shop__bottRight {
  display: flex;
}
.shop__bottRight_5 {
  flex: 0 1 50%;
  background: url("../img/shop7.png") center/cover;
  padding: 0 0 50% 0;
  position: relative;
}
.shop__bottRight_6 {
  flex: 0 1 50%;
  background: url("../img/shop8.png") center/cover;
  padding: 0 0 50% 0;
  position: relative;
}

.back {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.back:hover {
  background: #64af94;
  opacity: 0.7;
}
.back img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -59px 0 0 -56.5px;
}

@media (max-width: 700px) {
  .shop {
    display: block;
  }
}
@media (max-width: 520px) {
  .back img {
    max-width: 80px;
    margin: -41.5px 0px 0px -40px !important;
  }
}
.butt {
  padding: 95px 0px;
  background: #282f35;
  text-align: center;
}
.butt a {
  display: inline-block;
  padding: 20px 57px;
  border: 1px solid #fff;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
}
.butt a:hover {
  border: 1px solid #9c5c62;
  color: #9c5c62;
}

@media (max-width: 600px) {
  .butt {
    padding: 60px 0px;
  }
  .butt a {
    padding: 15px 30px;
  }
}
.contact {
  text-align: center;
}
.contact img {
  padding: 109px 0px 39px 0px;
}
.contact__txt {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 34px;
}
.contact__email input {
  width: 400px;
  height: 69px;
  border: 1px solid #d3d7d9;
  background-color: #ffffff;
  color: #929292;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 35px 10px 20px 0px;
  padding: 0px 5px 0px 20px;
}
.contact__email button {
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  margin: 0px 0px 111px 0px;
}
.contact__email button:hover {
  background: #a97d6b;
}

@media (max-width: 570px) {
  .contact img {
    padding: 80px 0px 39px 0px;
  }
  .contact input {
    width: 300px;
  }
  .contact button {
    width: 100px;
    margin: 0px 0px 70px 0px;
  }
}
.header {
  padding: 68px 0px 0px 0px;
  position: fixed;
  z-index: 50;
  width: 100%;
}
.header__menu {
  max-width: 658px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__item a {
  color: #4d4959;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
.header__item:first-child:after {
  content: ".";
  position: absolute;
  margin: 0px 0px 0px 35px;
  font-size: 15px;
}
.header__item:nth-child(2) {
  margin: 0px 0px 0px -150px;
}
.header__item:nth-child(3) {
  margin: 0px -150px 0px 0px;
}
.header__item:nth-child(3):after {
  content: ".";
  position: absolute;
  margin: 0px 0px 0px 35px;
  font-size: 15px;
}
.header__logo {
  text-align: center;
  margin: -45px 0px 0px 0px;
}
@media (max-width: 768px) {
  .header__menu {
    z-index: 2;
    position: fixed;
    top: -1000px;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background: #4c4857;
    overflow: auto;
    transition: 1s all ease 0s;
    border-bottom: 5px solid #cecbd1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__item a {
    color: #cecbd1;
    font-size: 25px;
    position: relative;
  }
  .header__item a:hover {
    color: green;
  }
  .header__item:first-child {
    position: relative;
  }
  .header__item:first-child:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #cecbd1;
    border-radius: 50%;
    top: 33px;
    right: 50%;
  }
  .header__item:last-child {
    margin: 30px 0px;
  }
  .header__item:nth-child(2) {
    margin: 30px 0px 0px 0px;
    position: relative;
  }
  .header__item:nth-child(2):after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #cecbd1;
    border-radius: 50%;
    top: 33px;
    right: 50%;
  }
  .header__item:nth-child(3) {
    margin: 30px 0px 0px 0px;
    position: relative;
  }
  .header__item:nth-child(3):after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #cecbd1;
    border-radius: 50%;
    top: 33px;
    right: 50%;
  }
  .header__logo {
    position: fixed;
    top: 70px;
    left: 30px;
  }
  .header__logo img {
    max-width: 100%;
  }
  .header__burger {
    z-index: 3;
    position: fixed;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 30px;
  }
  .header__burger span {
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #5d5c76;
  }
  .header__burger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #5d5c76;
    transition: 1s all ease 0s;
  }
  .header__burger:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #5d5c76;
    transition: 1s all ease 0s;
  }
}
.activemenu {
  top: 0;
}

.activeburger:before {
  transform: rotate(-45deg);
  top: 13px;
  background: #cecbd1;
}
.activeburger:after {
  transform: rotate(45deg);
  bottom: 13px;
  background: #cecbd1;
}
.activeburger span {
  display: none;
}

.footer {
  background: #f7f7f7;
}
.footer__columns {
  padding: 100px 20px;
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__columnLeft p {
  color: #848789;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0px 0px 5px 0px;
}
.footer__columnLeft p:first-child {
  font-size: 16px;
  font-weight: 700;
}
.footer__columnLeft p span {
  font-style: italic;
}
.footer__columnCent img {
  margin: 0px 15px 0px 0px;
}
.footer__columnRight p {
  color: #848789;
  font-family: "Lato", sans-serif;
  line-height: 17.87px;
}
.footer__columnRight p img {
  margin: -6px 0px 0px 6px;
}

@media (max-width: 770px) {
  .footer__columns {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
  }
  .footer__columnLeft {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .footer__columnCent {
    margin: 0px 0px 20px 0px;
  }
}