.inf {
	&__title {
		&_services{
			margin: 0 0 20px 0;
			text-align: left;
			font-size: 28px;
		}
	}
}

.services-txt {
	padding: 45px 0px 0px 0px;
	&__title {}
	&__block {
		@include flexbox();
		margin: 35px 0 0px 0;
	}
	&__img {}
	&__right {
		margin: 0 0 0 30px;
		p {
			color: #444444;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			span {
				font-weight: 500;
			}
			&:first-child {
				margin: 0 0 30px 0;
			}
		}
	}
}

@media(max-width: 1222px) {
	.services-txt {
		&__title {}
		&__block {
			flex-direction: column;
			align-items: center;
		}
		&__img {
			margin: 0 0 30px 0;
			img {
			}
		}
		&__right {
			margin: 0;
		}
	}
}
@media(max-width: 600px) {
	.services-txt {
		&__title {
			font-size: 30px;
		}
		&__block {

		}
		&__img {
			img {
				width: 100%;
			}
		}
		&__right {}
	}
}


.services-photo {
	 background: #f3f3f3;
	 padding: 42px 0 62px 0;
	&__box {}
	&__title {
		margin: 0 0 50px 0;
	}
	&__slider {
		position: relative;
	}
	&__img {
		text-align: center;
		margin: 0 15px 0 15px;
	}
}

//Slick Slider(имена классов)
/* Ограничивающая оболочка */
.services-photo__slider .slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.services-photo__slider .slick-track{
	@include flexbox();
}
/* Стрелка */
.services-photo__slider .slick-arrow{
	position: absolute;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	font-size: 0;
	top: 50%;
	transform: translate(0, -50%);
}
/* Стрелка влево */
.services-photo__slider .slick-prev{
	background: rgba(243, 243, 243, 0.7) url('../img/service/serviceLeft.png') center no-repeat;
	left: -5px;
}
/* Стрелка вправо */
.services-photo__slider .slick-next{
	background: rgba(243, 243, 243, 0.7) url('../img/service/serviceRight.png') center no-repeat;
	right: -5px;
}

@media(max-width: 400px) {
	.services-photo {
		&__title {
			span {
				display: none;
			}
		}
	}
}

.services {
	&__box {
		padding: 40px 0 55px 0;
	}
	&__txt {
		p {
			color: #000000;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
		}
		&:nth-child(1) {
			p {
				margin: 0 0 30px 0;
			}
		}
		&:nth-child(2) {
			background-color: #f3f3f3;
			padding: 35px 35px 40px 15px;
			margin: 0 0 30px 0;
			p {
				margin: 0 0 30px 0;
				font-size: 22px;
				font-weight: 500;
			}
		}
		&:nth-child(3) {
			p {
				margin: 0 0 30px 0;
			}
		}
	}
}
