//Миксины
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}

//Подключение шрифтов---------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&display=swap&subset=cyrillic');

//Основной шрифт---------------------------------------------------------------------------------------
$fontfamily: 'Fira Sans', sans-serif;

//Переменные-----------------------------------------------------------------------------------
$minwidth:320px;
$mw:1210;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

.container {
	max-width: 1210px;
	padding: 0px 20px;
	margin: 0 auto;
}

//Основная сетка адаптива-----------------------------------------------------------------------------------------------------
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none;padding:0 10px;}
}

//Обнуление------------------------------------------------------------------------------------------
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{font-family: $fontfamily;min-width: $minwidth;height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}


body {
	overflow-x:hidden;
}
.lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100vh;
}

.sale-slider {
	position: relative;
	&__item {
		min-height: 100vh;
		width: 100%;
		&_1 {
			background:url('../img/slider.jpg') center / cover no-repeat;
		}
		&_2 {
			background:url('../img/slider.jpg') center / cover no-repeat;
		}
		&_3 {
			background:url('../img/slider.jpg') center / cover no-repeat;
		}
		&_4 {
			background:url('../img/slider.jpg') center / cover no-repeat;
		}
	}
}

 .sale-slider .slick-list {
	overflow: hidden;
}
/* Лента слайдов */
 .sale-slider .slick-track{
	@include flexbox();
}
/* Точки (булиты) */
 .sale-slider .slick-dots{
	position: absolute;
	bottom: 27px;
	left: 50%;
	transform: translate(-50%,0);
	@include flexbox();
}
 .sale-slider .slick-dots li{
	width: 16px;
	height: 16px;
	background-color: #ffffff;
	border-radius: 50%;
	margin: 0px 5px 0px 0px;
}
/* Активная точка */
 .sale-slider .slick-dots li.slick-active{
	background-color: #ffaf00;
}
/* Элемент точки */
.sale-slider .slick-dots li button{font-size: 0;}

.sale {}

.first-section {
	position: relative;
}

.first {
	position: absolute;
	top: 45%;
	width: 100%;
	&__box {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
	}
	&__left {
		img {
			margin: 0 0 0 18px;
		}
		p {
			&:nth-child(2) {
				color: #ffffff;
				font-size: 52px;
				font-weight: 500;
				text-transform: uppercase;
			}
			&:nth-child(3) {
				color: #fead38;
				font-size: 38px;
				font-weight: 300;
				text-shadow: #000 1px 1px 0, #000  -1px -1px 0, 
                 #000  -1px 1px 0, #000  1px -1px 0;
			}
			&:nth-child(4) {
				color: #ffffff;
				font-size: 105px;
				font-weight: 500;
				text-transform: uppercase;
				text-align: right;
				margin: 0 -100px 0 0;
			}
		}
	}
	&__right {
		background: rgba(196, 193, 191, 0.7);
		text-align: center;
		padding: 20px 15px;
		border: 3px solid #ffaf00;
		border-radius: 5px;
		p {
			&:nth-child(1) {
				color: #444444;
				font-size: 28px;
				font-weight: 500;
			}
			&:nth-child(2) {
				color: #444444;
				font-size: 18px;
				font-weight: 300;
				letter-spacing: -0.45px;
				margin: 6px 0 14px 0;
			}
		}
		form {
			input {
				display: block;
				width: 100%;
				height: 39px;
				padding: 0 0 0 10px;
				margin: 0 0 15px 0;
				&::placeholder {
					font-style: italic;
				}
			}
			p {
				text-align: center;
				input {
					height: 15px;
					width: 15px;
					display: inline-block;
					margin: 0 8px 0px 0;
				}
				label {
					color: #444444;
					font-size: 13px;
					font-weight: 300;
					vertical-align: top;
				}
			}
		}
	}
}
.btn {
	margin: 20px 0 0 0;
	button {
		color: #000000;
		font-size: 16px;
		width: 195px;
		line-height: 40px;
		background-color: #ffaf00;
		border-radius: 5px;
	}
}

@media(max-height: 530px) {
	.first {
		&__box {
			justify-content: center;
		}
		&__left {
			display: none;
		}
	}
}

@media(max-width: 1222px) {
	.first {
		top: 30%;
		&__box {
			flex-direction: column;
		}
		&__left {
			text-align: center;
			img {
				display: none;
			}
			p {
				margin: 0 !important;
				&:nth-child(4) {
					text-align: center;
				}
			}
		}
		&__right {
			margin: 20px 0 0 0;
		}
	}
	.sale-slider {
		&__item {
			height: 120vh;
		}
	}
}

@media(max-width: 495px) {
	.first {
		&__left {
			p {
				&:nth-child(2) {
					font-size: 32px;
				}
				&:nth-child(3) {
					font-size: 28px;
				}
			}
		}
		.container {
			padding: 0;
		}
	}
	.sale-slider {
		&__item {
			height: 185vh;
		}
	}
}





.city {
	padding: 80px 0 65px 0;
	&__title {
		margin: 0px 0px 28px 0px;
	}
	&__txt {}
}
.title {
	color: #444444;
	font-size: 36px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	line-height: 45px;
}
.txt {
	color: #444444;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	position: relative;
	mark {
		font-weight: 500;
		background: transparent;
	}
}
.dotts {
	display: none;
}
.txtHide {
}
.readMore {
	color: #ffaf00;
	display: none;
	position: relative;
	left: 30px;
	text-decoration: underline;
	cursor: pointer;
}

.feature {
	background: url('../img/feature/featureFon.jpg') center / cover;
	padding: 65px 0px 85px 0px;
	&__title {
		color: #ffffff;
	}
	&__box {
		@include flexbox();
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 110px 0px 0px 0px;
	}
	&__card {
		background: rgba(3%, 3%, 3%, 0.7);
		text-align: center;
		margin: 0px 0px 110px 0px;
	}
	&__bttn {
		text-align: center;
		margin: 40px 0 0 0;
		span {
			color: #000000;
			font-size: 20px;
			letter-spacing: 2px;
			padding: 20px 130px;
			background: #ffb500;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

.card {
	width: 263px;
	height: 207px;
	position: relative;
	&:nth-child(5),
	&:nth-child(6), 
	&:nth-child(7),
	&:nth-child(8){
		.card__title {
			&:after {
				height: 2px;
			}
		}
	}
	&__circle {
		max-width: 130px;
		height: 130px;
		border-radius: 50%;
		background: #ffaf00;
		transform: translate(50%,-50%);
		position: relative;
		img {
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	&__title {
		color: #ffffff;
		font-size: 20px;
		line-height: 30px;
		margin: -60px 0 0 0;
		&:after {
			content: "";
			position: absolute;
			width: 127px;
			height: 1px;
			background-color: #ffaf00;
			bottom: 16px;	
			left: 50%;
			transform: translate(-50%, 0);	
		}
	}
}

@media(max-width: 1222px) {
	.feature {
		&__box {
			justify-content: space-around;
		}
	}
}
@media(max-width: 600px) {
	.feature {
		padding: 33px 0px 62px 0px;
		&__title {
			line-height: 50px;
		}
		&__box {
			flex-direction: column;
			align-items: center;
			margin: 30px 0 0 0;
		}
		&__card {
			margin: 0px 0px 18px 0px;
			height: auto;
			width: 275px;
		}
		&__bttn {
			span {
				padding: 20px 95px;
			}
		}
	}
	.card {
		&__circle {
			width: 70px;
			height: 70px;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			img {
				width: 50%;	
			}
		}
		&__title {
			margin: 0 0 0 40px;
			padding: 10px 10px 10px 0px;
			text-align: left;
			&:after {
				content: "";
				display: none;
			}	
		}
	}

}

@media (max-width: 350px) {
	.feature {
		&__box {
			align-items: flex-end;
		}
	}
}

.service {
	padding: 80px 0 70px 0;
}

.service-title {	
}

.service-slider {
	position: relative;
	margin: 30px 0 0 0;
	&__item {
		text-align: center;
		height: 214px;
		cursor: pointer;
		&:focus {
		background: #f3f3f3;
	}
	}
	&__img {
		height: 155px;
		@include flexbox();
		align-items: center;
		justify-content: center;
	}
	&__title {
		color: #444444;
		font-size: 18px;
		text-transform: uppercase;
		height: 60px;
	}
}

/* Ограничивающая оболочка */
.service-slider .slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.service-slider .slick-track{
	@include flexbox();
}
/* Клонированный слайд */
.slick-slide.slick-cloned{

}
/* Стрелка */
 .service-slider .slick-arrow{
	position: absolute;
	width: 22px;
	height: 37px;
	font-size: 0;
	top: 50%;
	transform: translate(0, -50%);
}
/* Стрелка влево */
.slick-arrow.slick-prev{
	background: url('../img/service/serviceLeft.png');
	left: 0;
	z-index: 2;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
	background: url('../img/service/serviceRight.png');
	right: 0;
}


.service-tab {
	&__item {
		align-items: center;
		padding: 25px 27px 25px 17px;
		border: 1px solid #dcdcdc;
		display: none;
	}
	&__txt {
		max-width: 625px;
		margin: 0 0 0 30px;
	}
	&__title {
		color: #444444;
		font-size: 18px;
		text-transform: uppercase;
	}
	&__inf {
		color: #000;
		font-size: 16px;
		font-weight: 300;
		margin: 20px 0 50px 0;
		line-height: 24px;
	}
	&__btt {
		cursor: pointer;
		span {
			color: #000000;
			font-size: 20px;
			letter-spacing: 2px;
			padding: 12px 130px;
			background: #ffbb00;
			border-radius: 5px;
		}
	}
}

@media(max-width: 993px) {
	.service-tab {
		&__item {
			flex-direction: column;
			img {

			}
		}
		&__txt {
			margin: 40px 0 0 0;
		}
		&__btt {
			text-align: center;
		}
	}
}

@media(max-width: 620px) {
	.service-tab {
		&__item {
			img {
				width: 100%;
			}
		}
		&__btt {
			span {
				padding: 10px 75px;
			}
		}
	}	
}

@media(max-width: 520px) {
	.service-slider {
		&__item {
		}
	}
}

.calc {
	text-align: center;
	background: #f3f3f3;
	padding: 45px 0px 35px 0px;
	input::placeholder {
		font-style: italic;
	}
	input {
		border-bottom: 1px solid #000;
		padding: 0px 0px 0px 10px;
	}
	&__box {
		max-width: 945px;
		margin: auto;
	}
	&__title {}
	&__subtitle {
		color: #000000;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		margin: 20px 0px 0px 0px;
	}
	&__way {
		@include flexbox();
		align-items: center;
		justify-content: center;
		padding: 40px 20px;
		input {
			width: 349px;
			height: 39px;
		}
		img {
			margin: 0px 12px;
			cursor: pointer;
		}
	}
	&__transp {}
	&__numb {
		padding: 20px 0px 25px 0px;
		p {
			color: #000000;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			mark {
				font-weight: 400;
				font-size: 20px;
				color: #ffaf00;
				background: transparent;
			}
			span {
				color: #ffaf00;
				font-weight: 300;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
	&__sum {
		margin: 0px 0px 20px 0px;
		button {
			color: #000000;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 20px 75px;
			background-image: linear-gradient(to top, #bab9b9 0%, #e5e5e5 100%);
			border-radius: 5px;
		}
	}
	&__money {
		color: #000000;
		font-size: 20px;
		font-weight: 300;
		line-height: 24px;
		padding: 25px 45px;
		background: #ffc900;
		mark {
			font-weight: 400;
			color: #ffffff;
			font-size: 24px;
			background: transparent;
		}
	}
	&__sale {
		margin:  30px 0 0 0;
		form {
			@include flexbox();
			align-items: center;
		}
		input {
			width: 303px;
			height: 39px;
			margin: 0 30px 0 0;
		}
		span {
			color: #000000;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 22px 55px;
			background: #ffbc00;
			border-radius: 5px;
			margin: 0 30px 0 0;
		}
		button {
			color: #444444;
			font-size: 20px;
			text-decoration: underline;
			background: transparent;
		}
	}
}

.transp {
	position: relative;
	&__header {
		width: 749px;
		margin: auto;
		position: relative;
		input {
			width: 749px;
			height: 39px;
		}
		span {
			position: absolute;
			width: 10px;
			height: 8px;
			right: 13px;
			top: 50%;
			transform:translate(0, -50%);
			cursor: pointer;
			&:before {
				content: "";
				position: absolute;
				background: #000;
				height: 2px;
				width: 100%;
				bottom: 0;
				transform: rotate(45deg);
				left: -1.2px;
				@include anim(0.5s,0s);
			}
			&:after {
				content: "";
				position: absolute;
				background: #000;
				height: 2px;
				width: 100%;
				bottom: 0;
				transform: rotate(-45deg);
				@include anim(0.5s,0s);
			}
		}
	}
	&__body {
		position: absolute;
		top: 39px;
		left: 50%;
		transform: translate(-50%,0);
		background: rgba(21, 19, 15, 0.7);
		width: 749px;
		display: none;
	}
	&__list {}
	&__li {
		padding: 7px 0;
		font-size: 18px;
		border-bottom: 1px solid #fff;
		cursor: pointer;
		color: #fff;
	}
}

.arrow {
	&:before {
		transform: rotate(-45deg) !important;
	}
	&:after {
		transform: rotate(45deg) !important;
	}
}

@media(max-width: 993px) {
	.calc {
		padding: 45px 5px;
		&__way {
			flex-direction: column;
		}
		&__img {
			margin: 10px 0px;
			transform: rotate(90deg);
		}
		&__sale {
			form {
				flex-direction: column;
				input {
					margin: 0;
				}
				span {
					display: inline-block;
					margin: 25px 0px;
					padding: 17px 30px;	
				}
			}
		}
		&__sum {
			button {
				padding: 15px 50px;	
			}	
		}
	}

	.transp {
		&__header {
			width: 349px;
			input {
				width: 349px;
			}
		}
		&__body {
			width: 349px;
		}
	}

}

@media(max-width: 400px) {
	.calc {
		input {
			width: 292px;
		}
		.transp {
			&__header {
				width: 292px;
			}
			&__body {
				width: 292px;
			}
		}
	}
}


.autopark {
	padding: 70px 0 105px 0;
	&__title {}
	&__slider {
		position: relative;
	}
	&__item {
	}
}

.park {
	@include flexbox();
	justify-content: space-between;
	align-items: center;
	margin: 95px 50px 0px 0;
	&__lef {
		position: relative;
		p {
			color: #0a0e0d;
			font-size: 28px;
			font-weight: 500;
			margin:  0 0 10px 0;
		}
		img {
			&:last-child {
				position: absolute;
				top: 47%;
				left: 53%;
				transform: translate(-50%,-50%);
			}
		}
	}
	&__cent {
	}
	&__list {
		li {
			color: #444444;
			font-size: 18px;
			font-weight: 300;
			line-height: 30px;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 9px;
				height: 9px;
				background-color: #ffaf00;
				border-radius: 50%;
				left: -19px;
				top: 50%;
				transform: translate(0, -50%);
			}
			span {
				font-weight: 400;
				margin: 0px 0px 0px 13px;
			}
		}
	}
	&__righ {
		span {
			color: #000000;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 15px 52px;
			background: #ffba00;
			border-radius: 5px;
			cursor: pointer;
		}
	}
}


/* Ограничивающая оболочка */
.autopark__slider .slick-list {
	overflow: hidden;
}
/* Лента слайдов */
 .autopark__slider .slick-track{
 	@include flexbox();
 }
/* Стрелка */
 .autopark__slider .slick-arrow{
	position: absolute;
	width: 22px;
	height: 37px;
	font-size: 0;
	top: 66%;
	transform: translate(0, -50%);
}
/* Стрелка влево */
.autopark__slider .slick-prev{
	background: url('../img/service/serviceLeft.png');
	left: -40px;
	z-index: 2;
}
/* Стрелка вправо */
.autopark__slider .slick-next{
	background: url('../img/service/serviceRight.png');
	right: -40px;
}


@media(max-width: 1024px) {
	.autopark {
		padding: 36px 0 0 0;
	}

	.park {
		flex-direction: column;
		margin: 45px 15px 45px 15px;
		&__cent {
			margin: 58px 0 55px 0;
		}
		&__righ {
			span {
				padding: 15px 93px;
			}
		}
	}
	/* Стрелка */
	 .autopark__slider .slick-arrow{
		top: 35%;
	}
		/* Стрелка влево */
	.autopark__slider .slick-prev{
		left: -10px;
	}
	/* Стрелка вправо */
	.autopark__slider .slick-next{
		right: -10px;
	}
}

@media(max-width: 590px) {
	.park {
		&__lef {
			p {
				text-align: center;
				margin: 0 0 45px 0;
			}
			img {
				&:nth-child(2) {
					width: 250px;
					max-width: 100%;
				}
				&:nth-child(3) {
					width: 50%;
					top: 65%;
				}
			}
		}
		.autopark__slider .slick-arrow{
			top: 30%;
		}
	}
}


.review {
	padding: 65px 0 50px 0;
	background: #f3f3f3;
	&__title {}
	&__slider {
		position: relative;
		margin: 40px 0 60px 0;
	}
	&__item {
		@include flexbox();
		align-items: center;
		justify-content: space-between;
		margin: 0 15px 0 15px;
	}
	&__img {
		padding: 5px 0;
		img {
			border-radius: 50%;
			box-shadow: 5px 5px 1px #ffaf01;
		}
	}
	&__inf {
		max-width: 715px;
	}
	&__name {
		color: #444444;
		font-size: 24px;
		font-weight: 400;
	}
	&__rating {
		@include flexbox();
		align-items: center;
		margin: 13px 0 7px 0;
	}
	&__star {
		@include flexbox();
		align-items: center;
		margin: 0  15px 0 0;
		li {
			mask-image: url('../img/star.svg');
			width: 16px;
			height: 16px;
			background-color: #b9b9b9;
			margin: 0 4px 0 0;
			&:hover {
				background-color: #fec408;
			}
		}
		.actStar {
			background-color: #fec408;
		}
	}
	&__mark {
		color: #000000;
		font-size: 16px;
		font-weight: 300;
	}
	&__txt {
		color: #000000;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
	}
	&__bttn {
		text-align: center;
		span {
			color: #000000;
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 15px 105px;
			background-image: linear-gradient(to top, #ffaf00 0%, #ffcc00 100%);
			border-radius: 5px;
			cursor: pointer;
		} 
	 }
}

/* Ограничивающая оболочка */
.review__slider .slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.review__slider .slick-track{
	@include flexbox();
}
/* Стрелка */
.review__slider .slick-arrow{
	position: absolute;
	width: 22px;
	height: 37px;
	font-size: 0;
	top: 50%;
	transform: translate(0, -50%);
}
/* Стрелка влево */
.review__slider .slick-prev{
	background: url('../img/service/serviceLeft.png');
	left: -40px;
}
/* Стрелка вправо */
.review__slider .slick-next{
	background: url('../img/service/serviceRight.png');
	right: -40px;
}

@media(max-width: 1260px) {
	.review {
		&__item {
			flex-direction: column;
		}
		&__img {
			margin: 0px 0px 20px 0px;
		}
	}
	.review__slider .slick-arrow{
		top: 30%;
	}

	.review__slider .slick-prev{
		left: 0px;
	}
	.review__slider .slick-next{
		right: 0px;
	}
}

@media(max-width: 425px) {
	.review {
		&__img {
			img {
				width: 145px;
				height: 145px;
			}
		}
		&__bttn {
			span{padding: 15px 71px;}
		}
	}
	.review__slider .slick-arrow{
		top: 15%;
	}
}


.buy {
	padding: 26px 0 56px 0;
	&__box {
		@include flexbox();
		align-items: center;
		justify-content: space-between;
	}
	&__img {
		position: relative;
		img {
			&:last-child {
				position: absolute;
				top: 20%;
				left: 10%;
			}
		}
	}
	&__right {
		max-width: 417px;
		text-align: center;
		background: #ffaf00;
		padding: 33px 0 43px 0;
		border-radius: 5px;
		form {
			input {
				width: 329px;
				height: 39px;
				border-bottom: 1px solid #444444;
				margin: 0 0 15px 0;
				padding: 0 0 0 10px;
				&::placeholder {
					font-style: italic;
				}
			}
			p {
				@include flexbox();
				align-items: center;
				justify-content: center;
				margin: 0 0 40px 0;
				input {
					width: 15px;
					height: 15px;
					margin: 0px 8px 0px 0px;
					background-color: #ffffff;
				}
				label {
					color: #444444;
					font-size: 13px;
					font-weight: 300;
				}
			}
		}
	}
	&__title {
		p {
			&:first-child {
				color: #0a0e0d;
				font-size: 28px;
				font-weight: 500;
			}
			&:last-child {
				color: #444444;
				font-size: 18px;
				font-weight: 300;
				letter-spacing: -0.45px;
				margin: 5px 0 25px 0;
			}
		}
	}
	&__bttn {
		span {
			color: #000000;
			font-size: 16px;
			padding: 15px 30px;
			background-image: linear-gradient(to top, #f3f3f3 0%, #ffffff 100%);
			cursor: pointer;
			border-radius: 5px;
		}
	}
}

@media(max-width: 993px) {
	.buy {
		&__box {
			flex-direction: column;
		}
		&__img {}
		&__right {}
		&__title {}
		&__bttn {}
	}
}
@media(max-width: 600px) {
	.buy {
		&__box {
		}
		&__img {
			img{
				&:first-child {
					width: 100%;
				}
				&:last-child {
					width: 30%;
					left: 15.5%;
				}
			}
		}
		&__right {
			width: 100vw;
			border-radius: 0;
			form {
				input {
					width: 291px;
				}
			}
		}
		&__title {}
		&__bttn {
			span{
				padding: 15px 80px;
			}
		}
	}
}

.partners {
	padding: 0 30px;
	&__title {}
	&__img {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		padding: 70px 0 60px 0;
		flex-wrap: wrap;
		img {
			max-width: 100%;
			margin: 10px 10px 10px 10px;
		}
	}
}

@media(max-width: 993px) {
	.partners {
		&__img {
			padding: 45px 0 35px 0;
			justify-content: space-around;
		}
	}	
}

@media(max-width: 450px) {
	.partners {
		&__img {
			img {
				transform: scale(0.7);
			}
		}
	}	
}

@media(max-width: 768px) {
	.map {
		height: 300px;
	}
}




//Подключение scss-файлов---------------------------------------------------------------------
@import 'header.scss';
@import 'footer.scss';
@import 'carpark.scss';
@import 'services.scss';
@import 'pop-up.scss';