//Миксины
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}

//Подключение шрифтов---------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700&display=swap');
//Основной шрифт---------------------------------------------------------------------------------------
$fontfamily: 'Merriweather', serif;

//Переменные-----------------------------------------------------------------------------------
$minwidth:320px;
$mw:1488;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

.container {
	max-width: 1508px;
	margin: 0 auto;
	padding: 0px 20px;
}

//Основная сетка адаптива-----------------------------------------------------------------------------------------------------
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none;padding:0 10px;}
}

//Обнуление------------------------------------------------------------------------------------------
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{font-family: $fontfamily;min-width: $minwidth;height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}


.wrapper {
	overflow: hidden;
	min-height: 100%;
	max-width: 100%;
}

.lock {
	overflow: hidden;
}

.bonus {
	background: url('../img/mainfon.png') center / cover;
	height: 100vh;
	@include flexbox();
	align-items: center;
	&__box {
		position: relative;
		text-align: center;
		height: 100vh;
	}
	&__title {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -100%);
		max-width: 520px;
		&:after {
			content: "";
			position: absolute;
			bottom: -70px;
			left: 50%;
			transform: translate(-50%,0);
			background: url('../img/icon/line.png');
			height: 33px;
			width: 253px;
		}
	}
}

.title {
	color: #3c3c3c;
	font-size: 40px;
	font-weight: 300;
	line-height: 55px;
	letter-spacing: -0.74px;
}

@media (max-width: 768px) {
	.bonus {
		&__box {}
		&__title {
			font-size: 30px !important;
		}
	}
}

.work {
	background: #fbcf12;
	&__box {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		padding: 66px 0px 87px 0px;
	}
	&__item {
		max-width: 373px;
		text-align: center;
		margin: 0px 10px;
	}
	&__title {
		margin: 38px 0px 30px 0px;
		color: #3c3c3c;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
		letter-spacing: -0.36px;
	}
	&__txt {
	}
}

.txt {
	color: #3c3c3c;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: -0.32px;
}

@media (max-width: 768px) {
	.work {
		&__box {
			flex-direction: column;
		}
		&__item {
			margin: 20px 0px;
		}
	}
}

.specials {
	padding: 80px 0px 98px 0px;
	&__title {
		text-align: center;
		padding: 0px 0px 104px 0px;
		position: relative;
		&:after {
			content: "";
			background: url('../img/icon/line.png');
			width: 253px;
			height: 33px;
			position: absolute;
			bottom: 48px;
			left: 50%;
			transform: translate(-50%,0);
		}
	}
	&__box {
		@include flexbox();
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: center;
	}
	&__item {
		width: 240px;
		height: 248px;
		background: #ebebeb;
		@include flexbox();
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&:hover {
			background: #484c64;
		}
		&:nth-child(1) {
			background: url('../img/specials1.png') center / cover;
		}
		&:nth-child(3) {
			background: url('../img/specials2.png') center / cover;
		}
		&:nth-child(5) {
			background: url('../img/specials3.png') center / cover;
		}
		&:nth-child(7) {
			background: url('../img/specials4.png') center / cover;
		}
		&:nth-child(9) {
			background: url('../img/specials5.png') center / cover;
		}
		&:nth-child(11) {
			background: url('../img/specials6.png') center / cover;
		}
		p {
			text-align: center;
			&:nth-child(1) {
				color: #3c3c3c;
				font-size: 18px;
				font-weight: 700;
				line-height: 30px;
				letter-spacing: -0.36px;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					width: 88px;
					height: 1px;
					background-color: #3c3c3c;
					bottom: -14px;
					left: 50%;
					transform: translate(-50%,0);
				}
			}
			&:nth-child(2) {
				color: #3c3c3c;
				font-size: 16px;
				font-weight: 300;
				line-height: 18px;
				letter-spacing: -0.32px;
				margin: 35px 0px 15px 0px;
			}
			&:nth-child(3) {
				color: #3c3c3c;
				font-size: 18px;
				font-weight: 700;
				line-height: 30px;
				letter-spacing: -0.36px;
			}
		}
	}
}

.about {
	background: #eeefef;
	&__box {
		@include flexbox();
		padding: 150px 0px 150px 0px;
	}
	&__left {
		text-align: right;
		flex: 0 0 50%;
		img {
		}
	}
	&__title {
		text-align: center;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			background: url('../img/icon/line.png');
			width: 253px;
			height: 33px;
			left: 50%;
			transform: translate(-50%,0);
			bottom: -40px;
		}
	}
	&__txt {
		color: #3c3c3c;
		font-size: 30px;
		font-weight: 300;
		line-height: 54px;
		letter-spacing: -0.55px;
		text-align: center;
		padding: 123px 0px 56px 0px;
	}
	&__right {
		flex: 0 0 50%;
		background: url('../img/about1.png') center / contain no-repeat;
	}
}

@media (max-width: 1024px) {
	.about {
		&__box {
			padding: 50px 0px;
			flex-direction: column;
		}
		&__left {
			order: 2;
		}
		&__right {
			order: 1;
			padding: 50% 0 0 0;
		}
	}
}

@media (max-width: 768px) {
	.about {
		&__box {
			padding: 50px 0px;
			flex-direction: column;
		}
		&__left {
			order: 2;
			img {
				width: 150px;
			}
		}
		&__title {
			font-size: 35px;
			&:after {
				bottom: -30px;
			}
		}
		&__txt {
			font-size: 20px;
		}

		&__right {
		}
	}
}

.menu {
	padding: 70px 0px 85px 0px;
	&__title {
		text-align: center;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: 253px;
			height: 33px;
			background: url('../img/icon/line.png');
			bottom: -50px;
			left: 50%;
			transform: translate(-50%,0);
		}
	}
	&__tabs {
		@include flexbox();
		justify-content: center;
		align-items: center;
		margin: 80px 0px 50px 0px;
		box-sizing: content-box;
	}
	&__tab {
		margin: 0px 30px;
		color: #3c3c3c;
		font-size: 18px;
		font-weight: 400;
		cursor: pointer;
	}
	&__list {
		display: none;
		justify-content: space-between;
		p {
			&:first-child {
				color: #3c3c3c;
				font-size: 18px;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: -0.33px;
				margin: 0px 0px 10px 0px;
			}
			&:last-child {
				color: #3c3c3c;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: -0.26px;
				font-style: italic;

			}
		}
	}
	&__left {
		flex: 0 0 50%;
		max-width: 637px;
	 }
	&__item {
		margin: 20px 0px;
	}
	&__right {
		flex: 0 0 50%;
		max-width: 637px;
	}
}

@media (max-width: 768px) {
	.menu {
		&__tabs {
			flex-direction: column;
			margin: 80px 0px 10px 0px;
		}
		&__tab {
			margin: 0px 0px 20px 0px;
		}
		&__list {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&__right {
			margin: -20px 0px 0px 0px;
		}
	}
}

.activetab {
	padding: 16px 24px;
	border: 1px solid #3c3c3c;
}

.contact {
	position: relative;
	background: #e2e3e5;
	&__box {
		@include flexbox();
		flex-direction: column;
		padding: 69px 0px 35px 0px;
	} 
	&__wrapper {
		align-self: flex-end;
	}
	&__title {
		text-align: center;
		margin: 0px 0px 127px 0px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: 253px;
			height: 33px;
			left: 50%;
			bottom: -50px;
			transform: translate(-50%,0);
			background: url('../img/icon/line.png');
		}
	}
	&__inf {
		@include flexbox();
		justify-content: space-between;
		p {
			color: #3c3c3c;
			&:first-child {
				font-size: 18px;
				text-transform: uppercase;
				margin: 0px 0px 10px 0px;
			}
			&:last-child {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
	&__left {
		max-width: 193px
	}
	&__right {
		max-width: 216px;
	}
	form {
		padding: 103px 0px 160px 0px;
		p {
			color: #3c3c3c;
			font-size: 18px;
			text-transform: uppercase;
		}
		input {
			border-bottom: 1px solid  #3c3c3c;
			width: 254px;
			margin: 40px 60px 0px 0px;
			background: transparent;
			padding: 0 0 10px 0;
		}
		textarea {
			border-bottom: 1px solid  #3c3c3c;
			width: 570px;
			display: block;
			height: 28px;
			margin: 72px 0 0 0;
			background: transparent;
		}
		button {
			color: #3c3c3c;
			font-size: 18px;
			background: transparent;
			padding: 10px 30px 10px 28px;
			border: 1px solid #959595;
			width: 100px;
			display: block;
			margin: 50px auto;
			&:hover {
				background: #fff;
			}
		}		
	}
	&__footer {
		align-self: center;
	}
}

@media (max-width: 660px) {
	.contact {
		&__box {
			display: block;
			padding: 40px 10px;
		}
		&__footer {
			text-align: center;
		}
		form {
			padding: 40px 0;
			@include flexbox();
			flex-direction: column;
			align-items: center;
			textarea {
				width: 254px;
			}
			input {
				margin: 40px 0px 0px 0px;
			}
		}
	}
}

@media (max-width: 470px) {
	.contact {
		&__title {
			margin: 0px 0px 80px 0px;
		}
		&__inf {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
}

//Подключение scss-файлов
@import 'header.scss';
@import 'footer.scss';